<div id="<%= dom_id team %>">
  <p>
    <strong>Team name:</strong>
    <%= team.team_name %>
  </p>

  <p>
    <strong>Team owner:</strong>
    <%= team.team_owner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Karma:</strong>
    <%= team.karma %>
  </p>

  <p>
    <strong>Fame:</strong>
    <%= team.fame %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= team.website %>
  </p>

  <p>
    <%= link_to "Show this team", team %>
  </p>
</div>
