<%= form_with(model: team) do |form| %>

  
    <div class="input-row">

      <%= form.text_field :team_name, placeholder: 'Team name' %>
    </div>


    <%= form.color_field :team_color %>


    <%= form.hidden_field :event_id, :value => event.id %>
  
    <div class="submit-row">
      <%= form.submit "new", class: 'btn' %>
    </div>
  <% end %>
  