<%= form_with(model: team) do |form| %>

  
    <div class="input-row">
      <%= form.label :team_name, style: "display: block" %>
      <%= form.text_field :team_name %>
    </div>

    <%= form.hidden_field :event_id, :value => event.id %>
  
    <div class="submit-row">
      <%= form.submit "new", class: 'btn' %>
    </div>
  <% end %>
  