<style>
#conquest{
    background-color:transparent;
}

</style>

<script>
  setTimeout("location.reload();",10000);
</script>

<div class="conquest-overlay" >

<% @control_points.each do | control_point | %>
<div data-controller="conquestoverlay" data-id="<%=control_point.id %>" data-initialprogress="<%= control_point.percent_captured(300) %>" class="overlay-chart <%= control_point.iscaptured? %>">
	Control Point: <%= control_point.title %>

<% if control_point.conquesting %>
	<div  class="progress-ring">
	<progress-ring data-conquestoverlay-target="progressring" stroke="8" radius="60" progress="<%= control_point.percent_captured(300) %>" ></progress-ring>
	</div>
	<% else %>
	<div class="waiting-ring">
	<svg height="120" width="120">
	<circle stroke="grey" stroke-dasharray="276.46015351590177 276.46015351590177" style="stroke-dashoffset: 0;" stroke-width="8" fill="transparent" r="44" cx="60" cy="60"></circle>
	</svg>
	</div>
	<% end %>
	<div style="text-align:center;" class="overlay-timers">00:90</div>
	<% if  control_point.iscaptured? %>
	<div style="text-align:center;" class="captured-by">Captured by:<br/> <%= control_point.capture_team %></div>
	<% end %>
</div>



<% end %>


</div>