<%= render '/desktop/window-frame', app1: 'ConQuest' %>

<div class="conquest-window">
    <div class="conquest-header">
    <div class="logo">    
    <h1>ConQuest</h1>
    </div>
    <div class="overlay-buttons">
    <%= link_to 'Overlay #1', conquest_overlay_path(id: @event.id), class:'btn',  target: '_blank' %>
    </div>
    <div class="staff-code">
    staff code: <%= @event.staff_code %>
    </div>
    <div class="home-button">
    <%= link_to 'MENU', conquest_path, class:'btn' %>
    </div>
    </div>
    <div class="conquest-body">
        <div class="conquest-team column">
            <h2>Teams</h2>
            <div class="create-control-point">
            <%= render "conquest-team-form", team: @team, event: @event %>
        </div>
        
    <div class="control-point-list">
        <% @teams.each do | team | %>
        <%= turbo_frame_tag dom_id(team) do %>
            <div class="event-team">

                <div class="team-column">
                    <div style="color:<%= team.team_color%>" class="team-name">
                    <%= team.team_name %>
                    </div>
                    <div class="team-score">
                    SCORE:<%= team.conquest_duration(@event)%>
                    </div>
                </div>
                <div class="team-column">
                    <%= button_to "DEL", team, class:'btn', style:"color: #{team.team_color}", method: :delete  %>
                </div>
            </div>
        <% end %>
        <% end %>
    </div>

        </div>

        <div class="conquest-controlpoints column">
                <h2>ControlPoints</h2>
                <div class="create-control-point">
                    <%= render "control-points-form", control_point: @control_point, event: @event %>
                </div>
                
            <div class="control-point-list">
                <% @control_points.each do | control_point | %>

                    <div style="background-color: <%= control_point.team_color %>" class="control-point <%= control_point.iscaptured? %>" data-controller="conquesttimer">
                    <h4><%= control_point.title %></h4>
                    <% if control_point.last_record_time %>

                    <div class="timer" data-starttime="<%= control_point.last_record_time %>" data-capture-limit="<%= @event.capture_limit_seconds || 0 %>"  data-conquesttimer-target="timer" ></div>
                    <% end %>
                    <div class="team-container">
                    <ul>
                    <% @teams.each do | team | %>
                        <li data-controller="conquest" class="<%= team.active_control_point(control_point) %> ">
                        <%= form_with(model: control_point, data:{ 'conquesttimer-target' => 'form'}) do |form| %>
                            <%= form.hidden_field :capture_team_id, :value => team.id %>
                            <% end %>
                            
                        <%= form_with(model: @event_record) do |form| %>
                            
                            <%= form.submit team.team_name, data:{ 'action' => 'click->conquest_timer#start'}, class: 'btn' %> 
                            <%= form.hidden_field :team_id, :value => team.id %> <%= form.hidden_field :event_id, :value => @event.id %> <%= form.hidden_field :control_point_id, :value => control_point.id %> <% end %></li>
                       
                    <% end %>
                    </ul>
                </div>
                <div class="control-point-timer">
                <% if control_point.iscaptured? %>
                    <%= link_to 'REMOVE', stop_conquest_path(id: control_point) %>
                    <% else %>
                    <%= link_to 'CAPTURE', capture_conquest_path(id: control_point) %>
                    <% end %>
                    <%= link_to 'CLEAR', clear_conquest_records_path(id: control_point) %>
                    
                    </div>
                    </div>

                <% end %>
            </div>
        </div>

        <div class="conquest-records column">
            <h2>Records</h2>
            <div class="control-point-list">
                <% @event_records.each do | event_record | %>
                <div style="border: 2px solid <%= event_record.team.team_color %>" class="event-record-card">
                Team: <%= event_record.team.team_name %> 
                Start_Time: <%= event_record.start_time.utc.strftime('%H:%M:%S') %>
                <% if event_record.end_time %>
                End_Time: <%= event_record.end_time.utc.strftime('%H:%M:%S') %>
                <% end %>
                <% if event_record.duration %>
                Duration: <%= event_record.duration %>
                <% end %>
                CTRL_PT: <%= event_record.control_point %> 
                </div>
                <% end %>
            </div>


        </div>

    </div>
</div>
<%= render '/desktop/taskbar', app1: 'ConQuest' %>