<div id="<%= dom_id org_role %>">
  <p>
    <strong>Description:</strong>
    <%= org_role.description %>
  </p>

  <p>
    <strong>Guildstone:</strong>
    <%= org_role.guildstone_id %>
  </p>

  <p>
    <strong>Org role owner:</strong>
    <%= org_role.org_role_owner %>
  </p>

  <p>
    <%= link_to "Show this org role", org_role %>
  </p>
</div>
