<div id="<%= dom_id event_record %>">
  <p>
    <strong>Event type:</strong>
    <%= event_record.event_type %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_record.event_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event_record.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event_record.end_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= event_record.duration %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= event_record.team_id %>
  </p>

  <p>
    <strong>Control point:</strong>
    <%= event_record.control_point %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= event_record.points %>
  </p>

  <p>
    <strong>Rank placement:</strong>
    <%= event_record.rank_placement %>
  </p>

  <p>
    <%= link_to "Show this event record", event_record %>
  </p>
</div>
