
<% 
   # 1. Logic: Filter out roles that are already taken on this specific ship
   taken_roles = event_ship.event_ship_crews.map(&:role)
   available_roles = EventShipCrew::ROLES - taken_roles 
%>

<% if available_roles.empty? %>
  
  <div class="alert alert-secondary p-2 text-center small mb-0 mt-2">
    <i class="bi bi-lock-fill"></i> Full Crew
  </div>

<% else %>

  <%= form_with model: EventShipCrew.new, url: event_ship_crews_path, method: :post, data: { controller: "username", action: "submit->username#validateForm" }, class: "mt-2" do |form| %>

    <%= form.hidden_field :event_ship_id, value: event_ship.id %>

    <div id="crew_form_error_<%= event_ship.id %>"></div>

    <div class="form-group mb-2">
      <%= form.label :rsi_username, "Verify RSI Handle", class: "small fw-bold" %>
      
      <%= turbo_frame_tag "username_verification_result_#{event_ship.id}" do %>
        <div class="input-group input-group-sm">
            <%= form.text_field :rsi_username, 
                value: current_user.rsi_username, 
                required: true, 
                class: "form-control",
                placeholder: "RobertsSpaceInd Handle",
                data: { 
                  username_target: "rsiUsername", 
                  action: "blur->username#verify input->username#updateSubmitButtonState",
                  verify_url: verify_username_path
                } %>
            <span id="username_verification_result"></span>
        </div>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :role, "Station/Role", class: "small fw-bold" %>
              <div class="input-group input-group-sm">

      <%= form.select :role, 
          available_roles, 
          { prompt: "Select Position..." }, 
          { 
            required: true, 
            class: "form-select form-select-sm",
            data: { 
              username_target: "shipSelect", 
              action: "change->username#updateSubmitButtonState" 
            } 
          } 
      %>
      </div>
    </div>

    <div class="d-grid">
      <%= form.submit "Request Boarding", 
          class: "btn btn-primary btn-sm", 
          data: { username_target: "submit" } %>
    </div>

  <% end %>

<% end %>