<div class="ship-row" data-selected="false"  data-action="click->usership#select" >

  <% if current_user.ship_count(ship) > 0 %>
    <div class="ship-count"><div class="count"><%= current_user.ship_count(ship) %></div></div>
  <% end %>

  <%= render "form", usership: usership, ship: ship %>
  <div class="<% if current_user.ship_count(ship) > 0 %>owned<% end %>  ship-info">
    <h4><%= ship.model %></h4>


  </div>

</div>

<div data-usership-target="ownedships"  class="owned-ships">

<% ship.expandedships(current_user).each do | usership | %>
  <%#= turbo_frame_tag dom_id(usership) do %>
    <%# end %>

    

    <turbo-stream action="append" target="userships">
    <template>
      <div id="message_1">
        This div will be appended to the element with the DOM ID "messages".
      </div>
    </template>
  </turbo-stream>

  <a class="btn" data-usership-target="ownedshipbutton"  data-ship="<%= dom_id(usership) %>" data-action="click->usership#edit" >
    <%= render "userships/usership_details", usership: usership %>
    </a>
  <% end %>
</div>