<div class="ship-row" data-selected="false"  data-action="click->usership#select" >

  <% if current_user.ship_count(ship) > 0 %>
    <div class="ship-count"><div class="count"><%= current_user.ship_count(ship) %></div></div>
  <% end %>

  <%= render "form", usership: usership, ship: ship %>
  
  <div class="<% if current_user.ship_count(ship) > 0 %>owned<% end %>  ship-info">
    <h4><%= ship.model %></h4>


  </div>

</div>

<div data-usership-target="ownedships"  class="owned-ships">

<%= turbo_stream_from "usership_details" %>

<%= turbo_frame_tag "usership_details" do %>
<% ship.expandedships(current_user).each do | usership | %>


    <div id="usership-#{dom_id(usership)}">      
      <%= render  "my_hangar/usership_details", usership_details:usership %>    
    </div>
  <% comment do %>
    I believe that the entire forloop has to exist as a turbo_stream_frame, and not broken-up individually
<% end %>
    <a class="btn" data-usership-target="ownedshipbutton"  data-ship="<%= dom_id(usership) %>" data-action="click->usership#edit" >
    <%= render "userships/usership_details", usership: usership %>
    </a>
    <% end %>

  <% end %>  


</div>