<div id="<%= dom_id usership %>">
  <p>
    <strong>Ship name:</strong>
    <%= usership.ship_name %>
  </p>

  <p>
    <strong>Year purchased:</strong>
    <%= usership.year_purchased %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= usership.description %>
  </p>

  <p>
    <strong>Ship:</strong>
    <%= usership.ship_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= usership.user_id %>
  </p>

  <p>
    <strong>Paint:</strong>
    <%= usership.paint %>
  </p>

  <p>
    <%= link_to "Show this usership", usership %>
  </p>
</div>
