
<%= render '/desktop/window-frame', app1: 'My Hangar' %>


<div class="my-hangar-window fleet-view">
  <div class="hangar-container">

  <div class="back-container" style="width:100%;"><%= link_to my_hangar_path, class: 'hangar-back' do %>Back to hangar<% end %></div>
  <table>
    <tr class="fleet-heading">
    <td>Id</td>
    <td>Manufacturer</td>
    <td>Model</td>
    <td>Year purchased</td>
    <td>Owner</td>
  </tr>
  <% unless @allships.nil? %>
  
  <% @allships.each do | usership | %>
    
    <tr>
    <td><%= usership.id %></td>
    <% if usership.ship %>
    <td><%= usership.ship.manufacturer.name || 'no data' %></td>
    <td><%= usership.ship.model || 'no data' %></td>
    <td></td>
    <td><%= usership.user.username || 'no data' %></td>        
    <% end %>
    </tr>    
  <% end %>
<% else %>
No Records
<% end %>
</table>

  </div>
</div>