<div id="view_ships">
<div class="fleet-name"><%= @current_user.username %>'s Fleet | <%=@myships.length %></div>

<div class="fleet-toolbar" style="display:none;"><%= link_to filter_state_path(filter_type:'manufacturer', filter_option:'origin') do %> <%= image_tag('manufacturer/origin.webp') %> <% end %></div>

        <div id="container">
        <div class="sliding-background"></div>
        </div>
        
        <div class="fleet-prototype">
            <div class="ship-layer">
                <% @myships.each do | usership | %>
                    <% if !@current_task.state.nil? && @current_task.state == "modal-#{usership.id}" %>
                        <%= render 'ship_modal', usership: usership %>
                    <% end %>
                    <%= link_to initiate_ship_modal_path(ship: usership), class: 'usership-block', style:"width: calc(#{usership.ship.length} * 0.1vw);" do %>
                        <div class="info-box"><%= usership.ship.model %></div>
                         <%= image_tag(usership.ship.ship_image_primary, style: "width: calc(#{usership.ship.length} * 0.1vw)")  if File.file?('app/assets/images/' + usership.ship.ship_image_primary)  %>
                    <% end %>
                       
                <% end %>
            </div>
            <canvas id="starfield" width=750 height=500 ></canvas>
        </div>
</div>

<script>
function getRandom(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }           
var canvas = document.getElementById("starfield"),
context = canvas.getContext("2d"),
stars = 500,
colorrange = [0,60,240];
for (var i = 0; i < stars; i++) {
    var x = Math.random() * canvas.offsetWidth;
    y = Math.random() * canvas.offsetHeight,
    radius = Math.random() * 1.2,
    hue = colorrange[getRandom(0,colorrange.length - 1)],
    sat = getRandom(50,100);
    context.beginPath();
    context.arc(x, y, radius, 0, 360);
    context.fillStyle = "hsl(" + hue + ", " + sat + "%, 88%)";
    context.fill();
}
</script>