<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= task.author %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= task.icon %>
  </p>

  <p>
    <%= link_to "Show this task", task %>
  </p>
</div>
