
        <%= render '/codex/header'%>
        <%= @current_task.state %>
<% @window_title = @current_task.state.split('|').last %>

<% @article_id= @current_task.state.split('#').last %>

        <div id="codex_title"><h1>
        <% if  @window_title.include? "create" %>
            Create new article
        <% elsif  @window_title.include? "edit" %>
            Edit Article
        <% elsif !@window_title[/\d/].nil? %>
            <%= Article.find_title(@window_title) %>
        <% end %>
           </h1>
        </div>


        <div id="codex_body" >
        <div class="codex-left-viewport">       
        <% if  @window_title.include? "create" %>
            Create new article
        <% else %>            
            <div class="viewport-main">
            <div class="codex-column-header">
<small class="down-arrow-block">▼</small>Views
</div>
                
                <ul>

                <% if current_user.isAdmin? %>
                <% unless @window_title.include?('edit') %>
                <li>
                    <%= link_to "Edit Article", codex_edit_article_path(id: @window_title) %>
                </li>
                <% else %>
                <li>
                
                <%= link_to "View Article", codex_show_article_path(id: @article_id)  %>
                </li>
                <li>
                <%= button_to "Delete Article", article_path(Article.find_by_id(@article_id)), method: :delete %>
                </li>
                <% end %>

                <% end %>
                </ul>
            </div>
            <div class="viewport-footer">
                Related Articles
            </div>
        <% end %>
        </div>

        <% if @current_task.state.include?('find') %>
        <%= render '/codex/find' %>
        <% end %>

            <% if  @window_title.include? "create" %>
                <%= render '/codex/create_article' %>
                
            <% elsif  @window_title.include? "makedossier" %>   
            <%= render '/codex/create_dossier' %>
            <% elsif  @window_title.include? "edit" %>          
                <%= render '/codex/edit_article', article_id: @article_id  %>
            <% elsif !@window_title[/\d/].nil? %>
        <%= render '/codex/show_article', article_id: @window_title %>

        
<% else %>


            <% end %>
        
        </div>