<div class="codex-center-viewport create">
<%= form_with model: @article do |form| %>
    <%= label_tag(:title) %>
    <%= form.text_field :title %>
    <%= label_tag(:article_type) %>
    <%= form.select :article_type, ['lore','location', 'event', 'vehicle',  'dossier'],{}, { data: { action: 'change->codex#article_type' }}  %>
    
    <%#= form.select :ship_id, options_for_select(@userships.collect{ |u| [u.ship.model, u.ship.id,{:usership_id=>u.id}]}), {:include_blank => "Select Existing Ship"}, {data:{ 'web-target' => 'shipSelectorField', 'action' => 'click->web#usershipUpdate' }}%>
    <%#= form.select :manufacturer_id, options_for_select(@manufacturers.collect{ |u| [u.name, u.id] } , {:class => 'teamTag', selected: ship.manufacturer_id || nil} ), :include_blank => 'Select...' %>


    <%= form.select :location, options_for_select(@all_locations_without_dossier.collect{ |u| [u.name, u.id] } ), {:include_blank => 'New Location'}, { class: 'hidden', data: { action: 'change->codex#new_location' } } %>
    <%= form.select :parent_location_id, options_for_select(@all_locations.collect{ |u| [u.name, u.name] } ), {:include_blank => 'Select Parent'}, { class: 'hidden', data: { action: 'change->codex#select_parent' } } %>
    
    <%= form.select :location_type, options_for_select([['Select Type',''],['star'],['planet'], ['moon'], ['space station'], ['surface outpost'], ['point of interest'], ['orbital marker']]),{} ,{ class: 'hidden', data: { action: 'change->codex#location_type' } } %>
    

    <%= form.select :reference_id, options_for_select(@all_events.collect{ |u| [u.title, u.id] } ), {:include_blank => 'New Event'}, { class: 'hidden' } %>
    <%= form.select :user_reference_id, options_for_select(@altama_users_without_dossier.collect{ |u| [u.username, u.id] } ), {:include_blank => 'New User'}, { class: 'hidden' } %>
    <%#= form.text_field :reference_id %>

    <%= form.file_field :featured_image %>


    <%= label_tag(:introduction) %>
    <%= form.text_area :introduction, size: "50x10" %>
    <%= label_tag(:content) %>
    <%= form.text_area :content, size: "50x10" %>
    <%= form.submit "Create" %>
<% end %>
</div>