<div class="event-editor" data-timeline-target="event_editor" hidden>

<%= form_with(model: event) do |g| %>
    <div class="input-row">
        <%= g.label :start_date, style: "display: block" %>
        <%= g.datetime_field :start_date %>
    </div>

    <div class="input-row">
        <%= g.label :title, style: "display: block" %>
        <%= g.text_field :title, :required=>'true'  %>
    </div>
    <div class="input-row">
    <%= g.label :keyword_required, style: "display: block" %>
    <%= g.text_field :keyword_required %>
</div>

    <div class="input-row">
        <%= g.label :maximum_attendees, style: "display: block" %>
        <%= g.number_field :maximum_attendees %>
    </div>

    <div class="input-row">
        <%= g.label :description, style: "display: block" %>
        <%= g.text_area :description %>
    </div>



  
    <%= g.submit 'Save' %>
<% end %>

</div>