    <%= form_with model: @event_user, url: event_join_path, method: :post, data: { controller: "username" } do |form| %>

    <p>Discord User: <%= current_user.username %></p>
    
    <% comment do %>
    <turbo-frame id="username_verification_result">
      <%= form.label :rsi_username %>
      <%= form.text_field :rsi_username, data: { action: "blur->username#verify" } %>
      <span id="username_verification_result"></span>
    </turbo-frame>
    <% end %>


    <%= turbo_frame_tag "username_verification_result" do %>
        <%= form.label :rsi_username %>
        <%= form.text_field :rsi_username, data: { action: "blur->username#verify" } %>
        <span id="username_verification_result"></span>
      <% end %>
  
    <%= form.label :ship_name %>
    <%= form.text_field :ship_name %>
  
    <%= form.label :ship_model %>
    
    <%= form.select :ship_id, options_for_select(@eligible_ships.collect { |ship| [ship.model, ship.id] }), include_blank: 'Select Ship' %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.submit "Join Event", data: { username_target: "submit" }, disabled: true %>
  
  <% end %>
  