<div class="event-details" data-timeline-target="event_popup" data-id="<%=event.id%>" hidden>
    <div id="timeline_header">
        <span>|<%= event.title %> </span>
        <a href="#" data-action="click->timeline#close_event_popup">| Close</a>
    </div>
    <div class="event-date">
    <%= event.start_date.to_formatted_s(:short)  %>
    
    </div>
    <% if event.event_series_id %>
    <div class="event-series">
        Series name: <%= event.series_title %>
    </div>
    <% end %>
    <div class="event-description">
        The daymar rally is the filthiest race in the verse
        <div class="event-requirements">
        Requirements
        <ul>
            <li>Requires 1 fleet starfarer</li>
            <li>Must attend all events to receive merits</li>
        </ul>
    </div>
    <div class="event-merits">
        Event Merits
        <ul>
            <li>Event flight badge</li>
            <li>2M AUEC</li>
        </ul>
    </div>

    </div>

    <div class="event-attendees">
        Attendees <span class="attendee-counter"><%= event.event_users.length %> / <%= event.maximum_attendees %></span>
        <table>
        <% unless EventUser.where(event_id:event.id).empty? %>
        <tr><td>SHIP-ID</td><td>Captain</td></tr>
        <% end %>
        <% EventUser.where(event_id:event.id).each do |eventuser| %> 
                
            <tr><td>ALT-<%= eventuser.ship_fid || '' %></td><td><%= eventuser.user.username %></td></tr>
        <% end %>
        </table>
    </div>
    <div class="action-buttons">
        <% unless event.joined?(current_user.id) %>
        <% if @myfleetships.nil? %>
            <span>No ships assigned to fleet</span>
            <% else %>
            <% if event.filteredFleet(current_user) &&  event.filteredFleet(current_user).count > 0 %>

            <%= form_with(model: EventUser) do |f| %> 
                <%= f.select :usership_id, options_for_select(event.filteredFleet(current_user).collect{ |u| [u.fid, u.id] }  ), :include_blank => 'Select Ship'%>
                <%= f.hidden_field :event_id, :value => event.id %>
                <%= f.submit 'Join' %>
            <% end %>

                <% else %>
                Applicable ships do not exist within your hangar
            <% end %>


            <% end %>
        <% else %>
            <%= link_to 'Leave event', leave_event_path(event_id: event.id), class:'leave-event-button' %>
        <% end %>
        <% if event.owner_id == current_user.id %>
        <%= button_to "DEL", event_path(event), method: :delete %>
        <% end %>
    </div>
</div>