

<%= form_with(model: user_badge) do |form| %>
  
  
    <div class="field">
    <% if all_users && all_users.count > 0 %>
      <%= form.collection_select :user_id, all_users, :id, :username %>
      <% end %>
    </div>

    <div class="field">
      Type:<%= badge.badge_type %>
    </div>

    <div class="field">


    <%= form.hidden_field :badge_id, :value => badge.id %>

  </div>

  

    <div class="actions">
      <%= form.submit 'Assign badge' %>
    </div>
  <% end %>

  <hr>