<p style="color: green"><%= notice %></p>

<h1>All Badges</h1>


<%= render "/badges/form", badge: @badge %>
<hr>


<div id="badge_list" class="admin">
<table>
  <%= render @badges %>
  </table>
</div>

<div id="badges_container">
<%= link_to "My Badges", my_badges_path %>
<%= link_to "All Badges", badges_path %>
<%= link_to "Exit To Desktop", desktop_path %>
</div>