<p style="color: green"><%= notice %></p>

<h1>All Badges</h1>

<div style="width:100px;">

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 38">
<rect x="0" y="0" width="60" height="38" stroke="black" fill="#ffae00" stroke-width="1"/>
<circle cx="50%" cy="50%" r="14" stroke="black" fill="#eb9a85" stroke-width="1"/>
</svg>
</div>

<%= render "/badges/form", badge: @badge %>
<hr>


<div id="badge_list" class="admin">
<table>
  <%= render @badges %>
  </table>
</div>

<div id="badges_container">
<%= link_to "My Badges", my_badges_path %>
<%= link_to "All Badges", badges_path %>
<%= link_to "Exit To Desktop", desktop_path %>
</div>