<style>
.bot-container{
    padding:20px;
}
.bot-container{
    padding-top:40px;
    height: 90%;
}
.bot-controls{
    display:flex;
}
.contact-list{
  height:100%;
}
.bot-body{
  height: 100%;
  overflow: scroll;
}
.participants{
    overflow: scroll;
    height: 170px;
    border: 1px solid black;
    padding: 10px;
}
</style>
<div data-controller="desktop" id="altama_exe" class="window">
  <%= render '/desktop/window-frame', app1: 'Altama_EXE', task: task %>
  <div class="bot-container" data-controller="bot" >
    <div class="contact-list">        
      <% if @bots.empty? %>
        <h1>No bots exist. Please create a new bot</h1>
        <%= render 'altama_exe/bot_form' %>
      <% else %>
        <% @bots.each do |bot| %>
          <div class="bot-body">
            <p><%= bot.bot_name %></p>
            <p><%= bot.channel %></p>
            <div class="bot-controls">
            <%= button_to 'Toggle Online Status', toggle_online_bot_path(bot), method: :patch %>
            <% if bot.bot_online %>
            <svg height="20" width="20"><circle cx="10" cy="10" r="8" fill="green" /></svg>
          <% else %>
            <svg height="20" width="20"><circle cx="10" cy="10" r="8" fill="red" /></svg>
          <% end %>
            </div>
            <button data-action="bot#toggleGiveaways">Show Giveaways</button>

            <div data-bot-target="giveaways" class="hidden">
              <h2>Giveaways</h2>
              <% if bot.giveaways.empty? %>
                <p>No giveaways yet. Create a new one:</p>                
                <%= render 'altama_exe/giveaway_form', bot: bot %>
              <% else %>
                <% bot.giveaways.each do |giveaway| %>
                  <p><%= giveaway.title %></p>
                  <p><%= giveaway.description %></p>
                  <button data-action="bot#toggleParticipants">Show Participants</button>
                  <div data-bot-target="participants" class="participants hidden">
                    <%= render 'altama_exe/participants', giveaway: giveaway %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
