     <div class="contact-list">
        
        <div class="contact-seperator">
            <hr>
                Online
            <hr>
        </div>


        <% @friendships_by_group.each do |group_name, friendships| %>
            <div class="contact-seperator">
            <hr>
            <%= group_name || "General" %>
        <hr>
        </div>
                <% friendships.each do |friendship| %>
                    <%= link_to state_asl_message_path(sender: friendship.friend.username), method: :post do %>
                        <div data-friend-id="<%= friendship.friend.id %>">
                            <% if @current_user.has_unread_messages_from?(friendship.friend) %>
                                <%= show_svg('asl-message') %>
                            <% else %>
                                <%= show_svg('asl-outline') %>
                            <% end %>
                        </div>
                        <%= friendship.friend.username %>
                        <% end %>
                    
                <% end %>
            
        <% end %>

        <div class="contact-seperator">
        <hr>
        System
    <hr>
    </div>
    <div data-controller="messages">
        <div data-messages-target="list">

        <% current_user.friend_requests.each do |message| %>            
            <%= link_to state_asl_message_path(sender: message.sender), method: :post do %>
            <%= show_svg('asl-outline') %><%= message.sender_name %>
            <% end %>                 
        <% end %>
        

        <% current_user.system_messages.each do |message| %>            
            <%= link_to state_asl_message_path(sender: message.sender), method: :post do %>
            <%= show_svg('asl-outline') %><%= message.sender_name %>
            <% end %>                 
        <% end %>
        </div>
    </div>


        </div>
        <div class="add-user-row">
            
            <%= link_to 'Add Users', asl_add_user_path, class: 'add-user-button' %>
               
            
        </div>
        <div class="bottom-row">
            <div class="asl-button-container">
                <span class="first-char">A</span>
                <span class="second-char">S</span>
                <span class="last-char">L</span>
            </div>
            <div class="asl-status-container">
                <%= image_tag("asl.svg") %>
                Online
            </div>
        </div>
        
        <script>

document.querySelector(`name`).innerHTML = '<%= current_user.asl_number %>';
        </script>
<style>
#asl content{
    height: 89%;
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
}
#asl content .contact-list{
margin:0px;
}
#asl{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>