     <div class="contact-list">
        
        <div class="contact-seperator">
            <hr>
                Online
            <hr>
        </div>

        <%= link_to new_asl_message_path(sender: current_user.id, message: @message), method: :post do %>
            create a new message
          
            
            <%#= render 'messages/new_message_form', task: task %>
            <% end %>
            

        <% current_user.past_messages_users.each do |message| %>
        
            
        <%= link_to state_asl_message_path(sender: message.sender), method: :post do %>
           <%= show_svg('asl-outline') %><%= message.sender_name %>
           <% end %>
           
           <% if task.state&.start_with?("message") %>

           <% message = Message.find_by_id(task.state.split('|').last) %>
           
           <%= render 'desktop/apps/asl/message', message:message, task: task %>
           <% end %>       
           
        <% end %>

# new messages should make the ICQ sound
        </div>
        <div class="add-user-row">
            
            <%= link_to 'Add Users', asl_add_user_path, class: 'add-user-button' %>
               
            
        </div>
        <div class="bottom-row">
            <div class="asl-button-container">
                <span class="first-char">A</span>
                <span class="second-char">S</span>
                <span class="last-char">L</span>
            </div>
            <div class="asl-status-container">
                <%= image_tag("asl.svg") %>
                Online
            </div>
        </div>
        
<style>
#asl content{
    height: 89%;
    margin:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
}
#asl content .contact-list{
margin:0px;
}
#asl{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>