<div data-controller="desktop" id="asl" class="window">
    <%= render '/desktop/window-frame', app1: 'ASL', task: task %>
    <div class="asl-container" data-controller="asl" >
        <div class="contact-list">
        
        <div class="contact-seperator">
            <hr>
                Online
            <hr>
        </div>

        <%= link_to new_asl_message_path(sender: current_user.id, message: @message), method: :post do %>
            create a new message

            <% if task.state&.start_with?("new_message") %>
                <%= render 'messages/new_message_form', task: task %>
            <% end %>

        <% end %>
            

        <% current_user.past_messages_users.each do |message| %>
        
            
        <%= link_to state_asl_message_path(sender: message.sender), method: :post do %>
           <%= show_svg('asl-outline') %><%= message.sender_name %>
           <% end %>
           
           <% if task.state&.start_with?("message") %>

           <% message = Message.find_by_id(task.state.split('|').last) %>
           
           <%= render 'desktop/apps/asl/message', message:message, task: task %>
           <% end %>       
           
        <% end %>

# new messages should make the ICQ sound
        </div>
        <div class="add-user-row">
            <div class="add-user-button">
                Add Users
            </div>
        </div>
        <div class="bottom-row">
            <div class="asl-button-container">
                <span class="first-char">A</span>
                <span class="second-char">S</span>
                <span class="last-char">L</span>
            </div>
            <div class="asl-status-container">
                <%= image_tag("asl.svg") %>
                Online
            </div>
        </div>

    </div>
</div>
