<div data-controller="desktop" id="asl" class="window">
    <%= render '/desktop/window-frame', app1: 'ASL', task: task %>
    <div class="asl-container" data-controller="asl" >
        <div class="contact-list">
        
        <% current_user.past_messages_users.each do |message| %>
            
        <%= link_to state_asl_message_path(sender: message.sender), method: :post do %>
           <%= show_svg('asl-outline') %><%= message.sender %>
           <% end %>
           
           <% if task.state&.start_with?("message") %>

           <% message = Message.find_by_id(task.state.split('|').last) %>
           
           <%= render 'desktop/apps/asl/message', message:message, task: task %>
           <% end %>       
           
        <% end %>

# new messages should make the ICQ sound
        </div>
<div class="asl-status-container">
    <span class="first-char">A</span>
    <span class="second-char">S</span>
    <span class="last-char">L</span>
</div>
<div class="asl-status-container">
<%= image_tag("asl.svg") %>
    Online
</div>


    </div>
</div>

<style>
.asl-status-container{
    width:70%;
    padding:5px;
    border-top:$highlight_border;
    border-left:$highlight_border;
    border-right:$shadow_border;
    border-bottom:$shadow_border;
}
.asl-status-container .first-char{

}
.asl-status-container .second-char{

}
.asl-status-container .last-char{

}
</style>