<div data-controller="desktop" id="asl" class="window">
    <%= render '/desktop/window-frame', app1: 'ASL', task: task %>
    <div class="asl-container" data-controller="asl" >
        <div class="contact-list">
        
        <% current_user.past_messages_users.each do |message| %>
            
        <%= link_to state_asl_message_path(sender: message.sender.id), method: :post do %>
           <%= show_svg('asl-outline') %><%= message.sender.username %>
           <% end %>
           
           <% if task.state&.start_with?("message") %>

           <% message = Message.find_by_id(task.state.split('|').last) %>
           
           <%= render 'desktop/apps/asl/message', message:message, task: task %>
           <% end %>       
           
        <% end %>


# new messages should make the ICQ sound
        </div>
    </div>
</div>