
<div  id="codex" class="full <%=  task.state  %>" data-controller="codex">

<%= render '/desktop/window-frame', app1: 'Codex', task: task %>
    
        <div class="codex-container">
        <% if  task.state == 'timeline' %>
            <%= render '/codex/timeline'%>            
        <% elsif !task.state.nil? && task.state.include?('article') %>
            <%= render '/codex/article'%>
            <% elsif !task.state.nil? && task.state.include?('data') %>
            <%= render '/codex/data'%>
        <% else %>
        
            <%= render '/codex/start_screen'%>
        <% end %>


        </div>
</div>

<script>
    var close_button = document.getElementsByClassName('close-btn')[0];
    close_button.addEventListener('click', () => {
        localStorage.clear();
    });
</script>