<div data-controller="desktop" id="location_manager" class="window">
    <%= render '/desktop/window-frame', app1: 'Location Manager', task: task %>
        <div class="window-container">
            <div class="window-menu">
                <ul>
                    <li>File</li>
                    <li>Edit</li>
                    <li>View</li>
                    <li>Connections</li>
                    <li>Help</li>
                </ul>
            </div>
            <hr>
            <div class="window-toolbar">
                <div class="shortcut-icon-container"><a title="Create new location"  href="#"></a></div>
            </div>

            <div class="window-body-container">


            <%= link_to state_location_wizard_path(state:'new-location'), class: 'desktop-icon', method: :post do %>
                <div class="icon-frame">
                    <%= image_tag( "all_icons.png", class: "location new-location")  %> 
                </div>
                Create new location
            <% end %>
            <%# When opening a location it's supposed to happen in a new window %>
            <% if %>
            <% if !task.state.nil? && task.state.include?("subitem") %>

                <%= link_to state_location_mainitem_path, class: 'desktop-icon', method: :post do %>
                    <div class="icon-frame">
                    <%= image_tag( "all_icons.png", class: "location up-item")  %> 
                    </div>
                    Previous
                <% end %>

                <% end %>
            <% end %>
            <% if @locations %>
                <% @locations.each do |location| %>
                    
                    <%# if !task.state.nil? && task.state["location-#{location.type}"] %>
                        
                        <% if location.has_children? %>
                            <%= link_to state_location_subitem_path(state: "location-subitem-#{location.id}"), class: 'desktop-icon', method: :post do %>
                                <%= image_tag( "all_icons.png", class: "location #{location.type}")  %> 
                                <%= location.name %>
                            <% end %>            
                        <% else %>
                            <%= link_to state_location_edit_path(state: "edit-location-#{location.id}"), class: 'desktop-icon', method: :post do %>
                                <%= image_tag( "all_icons.png", class: "location #{location.type}")  %> 
                                <%= location.name %>
                            <% end %>

                        <% end %>


                        <% if !task.state.nil? && task.state["edit-location-#{location.id}"] %>
                            <%= render '/locations/edit-location', task: task, location: location %>
                        <% end %>
                <% end %>
            <% end %>
            </div>
            <div class="status-bar">
                <%= Location.all.size %> location(s)
            </div>
        </div>
</div>
<% if !task.state.nil? && task.state["new-location"] %>

    <%= render '/locations/new-location', task: task, location: @location %>
<% end %>