<div data-controller="desktop" id="ship_manager" class="window config_window">
    <%= render '/desktop/window-frame', app1: 'Ship Manager', task: task %>
    <div data-controller="ship-manager" >
    

    <div class="tabs">
        <span>Info</span>
        <span data-action="click->ship-manager#ship_manager" class="active">Ship Manager</span>
        <span data-action="click->ship-manager#manufacturers">Manufacturers</span>
        <span data-action="click->ship-manager#components">Components</span>

    </div>
    <div  data-ship-manager-target="ship_manager"  class="content-body ship-manager">

    <div style="display:none" data-ship-manager-target="ship_new_popup" class="popup window">
    <%= render '/desktop/window-frame', app1: 'Add Ship' %>
    <%= render '/ships/form', ship: @ship %>
    </div>

    <% if !@selected_ship.nil? %>
    <div style="display:none" data-ship-manager-target="ship_modify_popup" class="popup window">
    <%= render '/desktop/window-frame', app1: 'Modify Ship' %>
    <%= render '/ships/form', ship: @selected_ship %>
    </div>
    <% end %>

    <div class="radio-selectors">
    <%= form_tag ship_view_path, method: :get do %>
          <%= radio_button_tag :option, "1" %>
          <%= label_tag 'View ships by manufacturer' %>
          <%= radio_button_tag :option, "2" %>
          <%= label_tag 'View ships by type' %>
      <% end %>
    </div>
        <div class="ship-list single-pane">
            <% @ships.each do | ship | %>
                <%= link_to select_ship_path(ship_id: ship.id) do %>
                    <div <% if !@selected_ship.nil? && @selected_ship.id == ship.id %> class="selected" <% end %> >
                <i class=""></i>
                <span class="user-type">{ <%= ship.manufacturer.name %> }</span>
                <span class="username"><%= ship.model %></span>
                </div>
                <% end %>
            <% end %>
        </div>
        <div class="control-buttons">
            <button data-action="click->ship-manager#create_ship">Create</button>
            <button data-action="click->ship-manager#modify_ship">Modify</button>
            <button>Remove</button>
        </div>
    </div>

    <div style="display:none" data-ship-manager-target="manufacturer"  class="content-body manufacturer">
        <div style="display:none" data-ship-manager-target="manufacturer_new_popup" class="popup window">
            <%= render '/desktop/window-frame', app1: 'Add Manufacturer' %>
            <%= render '/manufacturers/form', manufacturer: @manufacturer %>
        </div>
        <div class="label" style="margin-top:77px;">
            Available manufacturers:
        </div>
        <div class="single-pane manufacturers">
            <% @manufacturers.each do | manufacturer | %>
                <div class="user-list">
                <i class=""></i>
                <span class="user-type">{ <%= manufacturer.name  %> }</span>
                <span class="username"><%= manufacturer.origin_location %></span>
                </div>
            <% end %>
        </div>
        <div class="control-buttons" >
            <button data-action="click->ship-manager#create_manufacturer">Create</button>
            <button>Modify</button>
            <button>Remove</button>
        </div>
    </div>


    <div style="display:none" data-ship-manager-target="component"  class="content-body manufacturer">
        <div style="display:none" data-ship-manager-target="manufacturer_new_popup" class="popup window">
            <%= render '/desktop/window-frame', app1: 'Add Manufacturer' %>
            <%= render '/manufacturers/form', manufacturer: @manufacturer %>
        </div>
        <div class="label" style="margin-top:77px;">
            Available components:
        </div>
        <div class="single-pane manufacturers">
            <% @components.each do | component | %>
                <div class="user-list">
                <i class=""></i>
                <span class="user-type">{ <%= component.component_name  %> }</span>
                <span class="username"><%= component.component_type %></span>
                </div>
            <% end %>
        </div>

<div class="form custom-promotion">
<hr>
    <!-- app/views/special_assignments/new.html.erb -->
    <%= form_with url: ship_components_assign_components_path, method: :post do %>
      <%= label_tag :ship_component_id, "Select Ship Component" %>
      <%= select_tag :ship_component_id, options_from_collection_for_select(@components, "id", "component_name") %>
      <%= submit_tag "Assign Selected Component" %>
    <% end %>

    <hr>
    
</div>

        <div class="control-buttons" >
            <button data-action="click->ship-manager#create_manufacturer">Create</button>
            <button>Modify</button>
            <button>Remove</button>
        </div>
    </div>


</div>
</div>