<div data-controller="desktop" id="user_profile" class="window config_window">
    <%= render '/desktop/window-frame', app1: 'User profile', task: task %>
    <div class="window-container">
        <div class="window-image">
            <%= image_tag current_user.profile_image if current_user.profile_image.present? %>
        </div>
            
        <div class="profile">
            <h3> <% if current_user.aec %>
                Wallet: <%= current_user.aec %> AEC
                <% else %>
                No money
                <% end %>
            </h3>
            <h4>Id: 0<%=current_user.id %> </h4>
            <h4>Karma:<%= current_user.karma | 0 %> </h4>
            <h4>Title:<%= current_user.org_title %> </h4>
            <h4>User_Level: <%= current_user.user_type_text %> </h4>
            <h4>Fame:<%= current_user.fame | 0 %> </h4>
            <h4><%= link_to "My badges", my_badges_path %> </h4>
            <h4><%= link_to "RSI Verify", rsi_activate_path %> </h4>
            <h4>Change Background image</h4>
        </div>
    </div>
</div>