<div data-controller="desktop" id="user_profile" class="window config_window">
    <%= render '/desktop/window-frame', app1: 'User profile', task: task %>
    <div class="window-container">
        <div class="window-image">
            <%= image_tag current_user.profile_image if current_user.profile_image.present? %>
        </div>

        <div class="profile">

            <div class="profile-header">
                <%= current_user.reputation %> <%= current_user.username %>
            </div>
<div class="profile-body">

<div class="profile-information">
<p>
<% if current_user.aec %>
Wallet: <%= current_user.aec %> AEC
<% else %>
No money
<% end %>
</p>
<h4>Id: 0<%=current_user.id %> </h4>
<h4>Karma:<%= current_user.karma | 0 %> </h4>
<h4>Fame:<%= current_user.fame | 0 %> </h4>
<h4>OrgTitle:<%= current_user.org_title %> </h4>
<h4>User_Level: <%= current_user.user_type_text %> </h4>
<% if current_user.twitch_username %>
<h4>Twitch Channel: <%= current_user.twitch_username %></h4>
<% comment do %>
<%= link_to star_bitizen_chart_twitch_path(current_user.twitch_username) do %>
    <% end %>
    <%end %>
<h4>Total Star Bitizen Runs: <%= current_user.total_star_bitizen_runs || 0 %></h4>

<% end %>

</div>

<div class="profile-action">
<% unless Article.find_by(reference_id: current_user.id) %>
<%= button_to "Create Dossier", codex_dossier_path, method: :get, class: "button-class" %>
<% else %>
<button>View Dossier</button>
<% end %>
<%= button_to "View Badges", my_badges_path, method: :get, class: "button-class" %>
<%= button_to "RSI Verify", rsi_activate_path, method: :get, class: "button-class" %>
<%= link_to "Twitch Verify", twitch_redirect_path(username: current_user.username), class: "button-class" %>

<%= button_to "Sync AltamaDB", sync_altama_path, method: :get, class: "button-class" %>

<hr>
</div>

</div>

<div class="profile-footer">
<%= button_to 'Close', close_last_window_path, method: 'get' %>
</div>


            
            
            


        </div>
    </div>
</div>

<style>
.profile-body{
    display:flex;
    flex-direction: row;
    height:100%;
}
.profile{
    width:70%;
    display:flex;
    flex-direction: column;
    font-family: 'windows';
}
.profile-information{
    width:60%;
}
.profile-action{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;

}
form{
    max-width:170px;
}
form button{
    width:170px;
}
.profile-footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 18px;
}
</style>