<div data-controller="desktop" id="user_manager" class="window">
<%= render '/desktop/window-frame', app1: 'User Manager', task: task, windowed: windowed %>
<div class="window-menu">
    <a href="#">File</a>
    <a href="#">Edit</a>
    <a href="#">View</a>
    <a href="#">Help</a>
</div>
<div  class="content-body">
    <div class="left-pane">
    <div class="root-level">Citadel</div>
    <div class="level-1" data-action="click->desktop#root_users" > <i class="folder"></i>[+]<%= link_to "HKEY_ROOT_USER", root_user_list_path  %></div>
    <div class="level-1"> <i class="folder"></i> HKEY_WORKER_USER</div>
    <div class="level-1"> <i class="folder"></i> HKEY_MEMBER_USER</div>
    <div class="level-1"  data-action="click->desktop#discord_users"> <i class="folder"></i>[+]<%= link_to "HKEY_DISCORD_USER", discord_user_list_path  %> (<%=DiscordUser.all.count %>)</div>
    <div class="level-1" data-action="click->desktop#rsi_users" > <i class="folder"></i> [+]<%= link_to "HKEY_RSI_USER", rsi_user_list_path  %> (<%=RsiUser.all.count %>)</div>
    <div class="level-1">  <i class="folder">[+]</i><%= link_to "HKEY_ALL_USER", all_user_list_path  %> </div>
    <div class="level-1"> <i class="folder"></i> HKEY_LOCAL_SERVER</div>

    </div>

        <div class="right-pane">
        <div class="right-pane-header">
        <span>
        Type
        </span>
        <span>
        Status
        </span>
        <span>
        Verified
        </span>
        <span>
        Name
        </span>
        <span>
        UserType
        </span>
        <span>
        DiscordRole
        </span>
        <span>
        Last Login
        </span>
        <span>
        Created At
        </span>
        </div>


<% case @user_manager.state 
when 'root_users' %>
<%#= render 'users/root_users'  %>
<% when 'all_users' %>
<%#= render 'users/all_users'  %>
<% when 'rsi_users'  %>
<%#= render '/users/rsi_users' %>
<% when 'discord_users'  %>
<%#= render '/users/discord_users'  %>
<% when 'local_users'%>
<%#= render '/users/local_users'%>
<% end %>

        </div>



    </div>

</div>
<div class="window-footer">
</div>
</div>