<div class="local-user-list list" data-desktop-target="local_users" >
<% @root_users.each do | user | %>
    <div class="user-row" data-desktop-target="rsi_user_row" data-action="click->desktop#user_row"  >
        <i class="page-object"></i>
        <% unless user.error.nil? %><i alt="<%= user.error %>" class="error-icon"></i><% end %> 
        <% if user.verified? %><%= image_tag("rsi_logo.png", class:"rsi-logo small") %><%end %>
        <span class="username"><%= user.username %></span>
        <span class="user-type"><%= user.user_type %></span>
        <span class="org-title"><%= user.org_title %></span>
        <span class="discord-role"><%= user.discord_role %></span>
        <span class="user-role"><% if defined?(user.role) %>{ <%= user.role || 'nil' %> }<% end %></span>
        <span class="user-created"><% if defined?(user.created_at) %> <%= user.created_at.utc  %> <% end%></span>
    </div>
<% end %>
</div>