<div data-controller="acu" id="acu" style="background-color:'blue'">

    <div class="loading">
    <% if @current_task.state.include?('welcome') || @current_task.state.include?('balance')  %>
     




    <div class="content" style="color:white; font-family:'dos'">        
        
    ---------- <br/>
    | ALTAMA | <br/>
    | ====== |<br/>
    |________|<br/>
    <br/><br/>
    
    <div class="slogan" style="color:white; font-family:'dos'">
                
    ALTAMA Credit Union - For What Matters
                
                </div>
    ________________________________________________________________________________________________
                
            </div>

        <% else %>
        <div class="content" style="color:white; font-family:'dos'">        
        <pre>
            :::     :::    ::::::::::: :::     ::::    ::::      :::     <br/>
            :+: :+:   :+:        :+:   :+: :+:   +:+:+: :+:+:+   :+: :+:   <br/>
            +:+   +:+  +:+        +:+  +:+   +:+  +:+ +:+:+ +:+  +:+   +:+  <br/>
            +#++:++#++: +#+        +#+ +#++:++#++: +#+  +:+  +#+ +#++:++#++: <br/>
            +#+     +#+ +#+        +#+ +#+     +#+ +#+       +#+ +#+     +#+ <br/>
            #+#     #+# #+#        #+# #+#     #+# #+#       #+# #+#     #+# <br/>
            ###     ### ########## ### ###     ### ###       ### ###     ### <br/>
            </pre>
        </div>

        <% end %>

        <div class="action-bar">

        <% if @current_task.state.include?('welcome') %>




        <div class="button-group">

        <div class="acu-button">
        (1) Deposit
        </div>
        <div class="acu-button">
        (2) Withdraw
        </div>

        <div class="acu-button">
        (3) Transfer
        </div>

        <div class="acu-button">
        (4) Balance
        </div>

    </div>

        <% elsif @current_task.state.include?('balance')  %>

        <div class="button-group">

            <div class="acu-button">
            (1) Twitch balance:
            </div>
            <div class="acu-button">
            (2) AEC Balance:
            </div>
<div class="transaction-list">
<div class="transaction-header">
    <div>
    ID
    </div>
    <div>
    Origin
    </div>
    <div>
    Destination
    </div>
    <div>
    Amount
    </div>
    <div style="width: 170px;text-align: right;">
    Date
    </div>
</div>
<%if @current_user.user_type == 0 %>
<% @transactions = Transaction.all %>
<% else %>
<% @transactions = Transaction.where("sender_id = ? OR receiver_id = ?", @current_user.id, @current_user.id) %>
<% end %>
<% @transactions.each do | transaction | %>
    <div class="transaction-row">
        <div>
        <%= transaction.id %> 
        </div>
        <div>|</div>
        <div>
        <%= transaction.sender.username %> 
        </div>
        <div>|</div>
        <div>
        <%= transaction.receiver.username %>
        </div>
        <div>|</div>
        <div>
        <%= transaction.amount %>
        </div>
        <div>|</div>
        <div >
        <%= transaction.created_at %> 
        </div>
    </div>
    <% end %>
</div>
        </div>


        <% else %>
        <a href="#" style="color:white; font-family:'dos'">
            Press enter to continue
            </a>
        </div>


        <% end %>


        <div>
        Press M to go back to menu
        </div>

        <div>
        Press Q to exit
        </div>


        <form action="/acu_command" id="command_entry" method="get" accept-charset="UTF-8" >
        <input id="query" name="query" type="text"  />
        </form>
    </div>

</div>

<style>
.transaction-list, .transaction-header,.transaction-row{
    display:flex;
}
.transaction-list{
    flex-direction: column;
    width:870px;
    margin:20px 0px;
}
.transaction-row{
    justify-content: space-between;
}
.transaction-header{
    justify-content:space-between;
    flex-direction:row;
}
</style>