<div data-controller="traderun" id="traderun">


    <style>
    select{
        font-family: dos;    
        text-transform:uppercase;
        background-color:transparent;
        text-transform:uppercase;
        color:white;
        font-size: 1.3rem;
        padding:0px;
        border:0xp;
    }
      table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 16px;
        font-family: dos;    
        text-transform:uppercase;
      }
      td, th {
        border: 1px solid black;
        padding:5px;
        text-align: center;
        transform: scaleY(1.5);       
        font-size: 1.3rem;
      }
       #shell .shell-container{
        padding-left:0px;
        padding-right:0px;
      }
      th {
        background-color: #07a7a8;
        color: black;

      }

      .radio{
        cursor:pointer;
      }
      td{
        color: #b9b9b9;
        line-height: 1.1;                
      }
      .selected {
        background-color: blue;
      }
      #shell{
        background-color:black;
      }
      #spreadsheet{
        font-family:dos;
      }
#shell .shell-container #traderun-menu a{
    color: #b9b9b9;

}
.rownumber{
    background-color: #07a7a8;
    color: black;
    width: 50px;
    border:0px;
    
}
#shell .shell-container{
    height: 85vh;
    
    overflow: scroll;
}
.active{
    background-color:blue;    
}

      #traderun-menu {
        display: flex;
        align-items: stretch;
        justify-content: center;
        
        padding: 10px 0;
        border-bottom: 1px solid #1c2024;
        color: #b9b9b9;
        margin-top:-20px;
      }
        .hidden{
            display:none !important;
        }
      .menu-container {
        font-family: dos;
        transform: scaleY(1.5);
        line-height: 0.3;
        font-size: 1.3rem;
        padding-top: 7px;
        
      }
      
      .menu-bar {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      
      .menu-bar ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .menu-bar li {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
      
      .menu-bar a {
        display: block;
        color: #b9b9b9;
        text-decoration: none;
        padding: 8px 14px;
        border-right: 1px solid #666666;
      }
      
      .menu-bar a:hover {
        background-color: blue;
        color:black;
      }
      
      .menu-bar:last-of-type a {
        border-right: none;
      }
          

    </style>


   <div id="traderun-menu" class="hidden">
   
   


   <div class="menu-container">
   <div class="menu-bar">
     <ul>
       <li><a href="#">Worksheet</a></li>
       <li><a href="#">Range</a></li>
       <li><a href="#">Copy</a></li>
       <li><a href="#">Move</a></li>
       <li><a href="#">File</a></li>
       <li><a href="#">Print</a></li>
       <li><a href="#">Graph</a></li>
       <li><a href="#">Data</a></li>
       <li>
       <%= link_to "Quit", traderun_command_path("quit")  %>
       </li>
     </ul>
   </div>
   <div class="menu-bar">
     <ul>
       <li><a href="#">Global</a></li>
       <li><a href="#">Insert</a></li>
       <li><a href="#">Delete</a></li>
       <li><a href="#">Column-Width</a></li>
       <li><a href="#">Erase</a></li>
       <li><a href="#">Titles</a></li>
       <li><a href="#">Window</a></li>
       <li><a href="#">Status</a></li>
     </ul>
   </div>
 </div>

   </div>
    
    <table id="spreadsheet">
      <thead>
        <tr>
          <th></th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
          <th>E</th>
          <th>F</th>
          <th>G</th>
          <th>H</th>
          <th>I</th>
          <th>J</th>
          <th>K</th>
          <th>L</th>
          <th>M</th>
          <th>N</th>
          <th>O</th>
          <th>P</th>
        </tr>
      </thead>
      <tbody  data-traderun-target="tbody">
        <tr>
          <td class="rownumber">1</td>
          <td>Captain</td>
          <td>Ship</td>
          <td>Buy Location</td>
          <td>Split</td>
          <td>Commodity</td>
          <td>Buy price</td>
          <td>SCU Buy</td>
          <td>Sell Location</td>
          <td>Sell price</td>
          <td>SCU Sell</td>
          <td>Capital</td>
          <td>Income</td>
          <td>Market delta</td>
          <td>Profit</td>
          <td>Payout</td>
          <td>Action</td>
        </tr>
        <%= form_with(model: @traderun_new, :html => {:id => 'traderuns_form', :style => '' }) do |form| %>
        <tr>
        <td class="rownumber">2</td>
        <td contenteditable="true"> <%= form.select :username, options_for_select(@all_users.collect{ |u| [u.username, u.username] } ), {:include_blank => 'User', :required=>"true"},  {data:{ action: 'change->web#shipSelect'}} %> </td>
        <td contenteditable="true"> <%= form.select :ship, options_for_select(@cargo_ships.collect{ |u| [u.model, u.model] } ), {:include_blank => 'Select Ship', :required=>"true"},  {data:{ action: 'change->traderun#shipSelect'}} %> </td>
        <td contenteditable="true"><%= form.select :buy_location, options_for_select(@tradeports.collect{ |u| [u.name, u.name] } ), {:include_blank => 'Buy Location', :required=>"true"},  {data:{ action: 'change->traderun#buyLocation',  traderun_target: 'buyLocation'}} %></td>
        <td contenteditable="false">[  ]</td>
        <td contenteditable="true"><%= form.select :buy_commodity, options_for_select(@readable_commodities.collect{ |u| [u.name, u.name] } ), {:include_blank => 'Select Commodity', :required=>"true"},  {data:{ action: 'change->traderun#buyCommodity', traderun_target:'buyCommodity'}} %></td>
        <td data-action="input->traderun#onContentChange" contenteditable="true" id="buyPrice"></td>
        <td contenteditable="true" data-action="input->traderun#onContentChange"  id="buySCU"></td>
        <td contenteditable="true"><%= form.select :sell_location, options_for_select(@tradeports.collect{ |u| [u.name, u.name] } ), {:include_blank => 'Sell Location', :required=>"true"},  {data:{ action: 'change->traderun#sellLocation',  traderun_target: 'sellLocation'}} %></td>
        <td contenteditable="true" data-action="input->traderun#onContentChange"  id="sellPrice"></td>
        <td data-action="input->traderun#onContentChange"  contenteditable="true"  id="sellSCU"></td>
        <td contenteditable="false" id="capital"></td>
        <td contenteditable="false" id="income"></td>
        <td contenteditable="false" id="delta"></td>
        <td contenteditable="false" id="profit"></td>
        <td contenteditable="false" id="payout"></td>
        <td contenteditable="false" class="radio" data-action="click->traderun#createRun">[  ]</td>
      </tr>

      <%= form.hidden_field :scu, id: "scu_input" %>
      <%= form.hidden_field :buy_price, id: "buy_price_input" %>
      <%= form.hidden_field :sell_price, id: "sell_price_input" %>
      <%= form.hidden_field :split, id: "split_input" %>
      <%= form.hidden_field :payout_complete, id: "payout_complete_input" %>

      <% end %>

<% @all_traderuns.each_with_index do |trade_run, i | %>
  <%= form_with(model: trade_run, local: true) do |form| %>
<tr class="existing runs">
<td class="rownumber"><%= i + 3 %></td>
<td>
<%= trade_run.username %>
</td>

<td>
<%= trade_run.ship %>
</td>

<td>
<%= trade_run.buy_location %>
</td>
<td>
[  ]
</td>
<td>
<%= trade_run.commodity.name %>
</td>

<td >
<%= trade_run.buy_price %>
</td>

<td >
<%= trade_run.scu %>
</td>

<td >
<%= trade_run.sell_location %>
</td>

<td >
<%= trade_run.sell_price %>
</td>

<td >
<%= trade_run.scu %>
</td>

<td >
<%# if trade_run.sell_price %>
<%# capital = trade_run.sell_price.to_f * trade_run.scu %>
<%#= capital %>
<%# end >
</td>


</tr>
<% end %>
<% end %>

      </tbody>
    </table>

    <script>
let selectedCell = null;
const cells = document.querySelectorAll('td[contenteditable="true"]');

cells.forEach((cell) => {
  cell.addEventListener('click', () => {
    if (selectedCell) {
      selectedCell.classList.remove('selected');
    }
    selectedCell = cell;
    selectedCell.classList.add('selected');
  });
});

document.addEventListener('keydown', (event) => {
  if (selectedCell) {
    const currentRowIndex = selectedCell.parentNode.rowIndex;
    const currentColumnIndex = selectedCell.cellIndex;
    let newCell;

    switch (event.key) {
      case 'ArrowUp':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex - 1}-col-${currentColumnIndex}`);
        break;
      case 'ArrowDown':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex + 1}-col-${currentColumnIndex}`);
        break;
      case 'ArrowLeft':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex}-col-${currentColumnIndex - 1}`);
        break;
      case 'ArrowRight':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex}-col-${currentColumnIndex + 1}`);
        break;
      default:
        break;
    }

    if (newCell) {
      selectedCell.classList.remove('selected');
      selectedCell = newCell;
      selectedCell.classList.add('selected');
    }
  }
});
</script>

<div id="data" >

<%= content_tag :div, id: "ships-data", class: "hidden", data: { ships: @cargo_ships.to_json(only: [:model, :scu]) } do %><% end %>
<%= content_tag :div, id: "commodities-data", class: "hidden", data: { traderun_target:'commoditiesData', commodities: @all_commodities.to_json(only: [:name, :buy, :sell, :location]) } do %><% end %>



</div>



</div>


