<div id="<%= dom_id ship %>">
  <p>
    <strong>Model:</strong>
    <%= ship.model %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= ship.manufacturer.name %>
  </p>

  <p>
    <strong>Scu:</strong>
    <%= ship.scu %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= ship.crew %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= ship.fuel %>
  </p>

  <p>
    <strong>Quantum:</strong>
    <%= ship.quantum %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= ship.length %>
  </p>

  <p>
    <strong>Beam:</strong>
    <%= ship.beam %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= ship.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= ship.mass %>
  </p>

  <p>
    <strong>Msrp:</strong>
    <%= ship.msrp %>
  </p>

  <p>
    <%= link_to "Show this ship", ship %>
  </p>
</div>
