<div class="icon"><%= image_tag("settings_icon.png") %></div>

<span><a class="" href="">Admin settings</a><div class="arrow-right"></div></span>
    <div class="child-menu">
        <div class="child-menu-item"><%= link_to locations_path, class:'child-link' do %><div class="icon"><%= image_tag("programs_icon.png") %></div><span>Location Manager</span><% end %></div>
        <div class="child-menu-item"><%= link_to ships_path, class:'child-link' do %><div class="icon"><%= image_tag("programs_icon.png") %></div><span>Spaceship manager</span><% end %></div>
        <div class="child-menu-item"><%= link_to properties_path, class:'child-link' do %><div class="icon"><%= image_tag("programs_icon.png") %></div><span>System Properties</span><% end %></div>
        <div class="child-menu-item"><%= link_to users_path, class:'child-link' do %><div class="icon"><%= image_tag("programs_icon.png") %></div><span>User manager</span><% end %></div>
    </div>