<div class="icon">
    <%= image_tag("programs_icon.png") %>
</div>
<span><a  href="">Programs</a><div class="arrow-right"></div></span>

    <div class="child-menu">
        <div class="child-menu-item"><a class="child-link" href="https://erkul.games" target="_blank"><div class="icon"><%= image_tag("erkul_icon.png") %></div><span>Erkul DPS Calculator</span></a></div>
        <div class="child-menu-item"><a class="child-link" href="https://gallog.co" target="_blank"><div class="icon"><%= image_tag("gallog_icon.png") %></div><span>Galactic Logistics</span></a></div>
        <div class="child-menu-item"><a class="child-link" href="https://finder.cstone.space" target="_blank"><div class="icon"><%= image_tag("cstone_icon.png") %></div><span>CStone Item Finder</span></a></div>
<div class="child-menu-item">
<a class="child-link" href="https://chrome.google.com/webstore/detail/star-citizen-hangar-xplor/bhkgemjdepodofcnmekdobmmbifemhkc?hl=en-GB" target="_blank"><div class="icon"><%= image_tag("hangarxplor_icon.jpg") %></div><span>HangarXplor
</a>
    </div>