
<a href="<%= edit_rfa_path(rfa) %>" class="rfa-row" id="<%= dom_id rfa %>">
<div class="rfa-column">
# <%= rfa.id %>
</div>
<div class="rfa-column">
  <%= rfa.title %>
</div>
<div class="rfa-column">
Random Person
</div>

<div class="rfa-column">
  <%= rfa.created_at %>
</div>
<div class="rfa-column">
  Seggellion
</div>
</a>
