
<a href="<%= edit_rfa_path(rfa) %>" class="rfa-row" id="<%= dom_id rfa %>">

<div class="rfa-column">
  <%= rfa.rsi_username %>
</div>
<div class="rfa-column">
<%= rfa.location_id %>
</div>

<div class="rfa-column">
  <%= rfa.ship_id %>
</div>
<div class="rfa-column">
<%= rfa.created_at %>
</div>
</a>
