
<%= turbo_frame_tag dom_id(active_rfa) do %>
    


    <% case active_rfa.status_id 
when 0 %>
<h2>Thanks for choosing Altama!</h2>
<p>
Waiting response from Support Queue (current wait times: {x} minutes), Join our discord for instant updates
</p>
<%= image_tag('status-loading.gif', class:'status-loading')  %>
<% when 1 %>

<h1>Please await in-game friend request</h1>
<h2>Support staff has accepted your request, estimated update: {x}mins</h2>
<%= image_tag('preloader-1.gif', class:'horizontal-status-loading')  %>
<div class="user-profile-container">
    <div class="avatar-image"><%= image_tag active_rfa.assigned_user.profile_image if active_rfa.assigned_user.profile_image.present? %></div>
    <div class="user-info">
        <h3><%=  active_rfa.assigned_user.rsi_username || active_rfa.assigned_user.username %></h3>
        <h4><%=  active_rfa.assigned_user.org_title || "INITIATE" %></h4> <small>(<%= active_rfa.assigned_user.total_reviews || "0" %> reviews)</small>
    </div>
</div>
<a href="https://discord.com/invite/kNwx4Bw" target="_blank" class="footer-link">Join our discord for instant updates: discord.altama.energy</a>

<% when 2 %>
<h1>We've arrived at your location</h1>
<h2>Please connect through discord, in-game chat or audio comms</h2>
<%= image_tag('greenbar.gif', class:'horizontal-status-loading-green')  %>
<div class="user-profile-container">
    <div class="avatar-image"><%= image_tag active_rfa.assigned_user.profile_image if active_rfa.assigned_user.profile_image.present? %></div>
    <div class="user-info">
        <h3><%=  active_rfa.assigned_user.rsi_username || active_rfa.assigned_user.username %></h3>
        <h4><%=  active_rfa.assigned_user.org_title || "INITIATE" %></h4> <small>(<%= active_rfa.assigned_user.total_reviews || "0" %> reviews)</small>
    </div>
</div>
<a href="https://discord.com/invite/kNwx4Bw" target="_blank" class="footer-link">Join our discord for instant updates: discord.altama.energy</a>
<% when 3 %>
<h1>This request has been set to hold</h1>
<h2>Please contact an Altama service representative for more information</h2>

<div class="user-profile-container">
    <div class="avatar-image"><%= image_tag active_rfa.assigned_user.profile_image if active_rfa.assigned_user.profile_image.present? %></div>
    <div class="user-info">
        <h3><%=  active_rfa.assigned_user.rsi_username || active_rfa.assigned_user.username %></h3>
        <h4><%=  active_rfa.assigned_user.org_title || "INITIATE" %></h4> <small>(<%= active_rfa.assigned_user.total_reviews || "0" %> reviews)</small>
    </div>
</div>
<a href="https://discord.com/invite/kNwx4Bw" target="_blank" class="footer-link">Join our discord for instant updates: discord.altama.energy</a>

<% when 4 %>

<% if !active_rfa.review_description_exists(active_rfa.user) %>
<h3>Refilling Complete! How did we do?</h3>
    <div class="review-stars" data-controller="review">
        <%= form_with(model: Review.new, remote: true, data:{ 'review-target' => 'form'}) do |form| %>
            <%= form.hidden_field :rfa_id, :value => active_rfa.id%>
            <%= form.hidden_field :rating, :value => active_rfa.current_rating(active_rfa.user), data:{ 'review-target' => 'rating_field'}%>

            <% 5.downto(1).each do | index| %>
                <%= form.hidden_field "star_id_#{index}", :value => index %>
                <div class="star-container <% if active_rfa.current_rating(active_rfa.user) >= index %> selected <% end %>" data-action="click->review#star<%=index%>" >
                    <%= show_svg('review_star') %>
                </div>
            <% end %>
            
                <div class="field-row description" data-review-target="description">
                    <%= form.text_area :description, :placeholder => "How was your experience? What could be improved?" %>
                    <%= form.submit "Save" %>
                </div>
        
        <% end %>
    </div>
    <% else %>
    <h1>Thanks for your feedback!</h1>
        <h4>Redirecting to Roadside Assistance</h4>
            <%= image_tag('status-loading.gif', class:'status-loading')  %>
       <div data-controller="redirect"></div>
    <% end %>
    <% else %>
    <h1>Thanks for your feedback!</h1>
    <h4>Redirecting to Roadside Assistance</h4>
    <%= image_tag('status-loading.gif', class:'status-loading')  %>
    <div data-controller="redirect"></div>

<% end %>

<% end %>
