<%= render '/desktop/window-frame', app1: 'Roadside Assistance' %>

<section data-action="click->rfa#clear"  data-controller="rfa"  id="rfa_open">
<div class="topbar">
<a href="<%= rfas_path %>" class="tab">
<div class="column">
  <i class="special"></i>
</div>
<div class="column">
<strong>Altama Support Index</strong>
 #<%= current_user.id%>@<%=current_user.username%>
 </div>
 </a>

 <div class="avatar-image"  data-rfa-target="user" data-user= <%= current_user.id %> >
 <%= image_tag current_user.profile_image if current_user.profile_image.present? %>
 </div>

 </div>
<div class="information-row">
<button class="profile-button">No Organization</button>
<button class="profile-button"><%= @rfa.user.rsi_username || "ANV-" + @rfa.user.username %></button>
<button class="profile-button"><small class="top-status-<%= @rfa.status %>"><%= @rfa.status %></small>RFA #1212<%= @rfa.id%></button>
<button class="profile-button info-button"  data-action="click->rfa#apps_pane">INFO</button>
</div>
  <%= render "open", rfa: @rfa %>
<% unless @rfa.user.verified? %>
  <%= render 'users/authenticate', user: @rfa.user %>
  <% end %>
</section>

<%= render '/desktop/taskbar', app1: 'Roadside Assistance' %>