<%= render '/desktop/window-frame', app1: 'Roadside Assistance' %>

<section id="rfa_open">
<div class="information-row">
<button>No Organization</button>
<button>Chelsea Vecchiarelli</button>
<button>RFA #121231230</button>
</div>
  <%= render "open", rfa: @rfa %>

  <div>
    <%= link_to "Show this rfa", @rfa %> |
    <%= link_to "Back to rfas", rfas_path %>
  </div>
</section>

<%= render '/desktop/taskbar', app1: 'Roadside Assistance' %>