<%= render '/desktop/window-frame', app1: 'Roadside Assistance', task: @current_task %>

<section id="rfa_index" <% unless  current_user.online_status == "rfa_online"  %> class="offline" <% end %> >

  <div class="topbar">

    <%= link_to "New rfa", new_rfa_path %>
  </div>
  <div class="rfa-main" data-controller="rfa" >

    <div id="sidebar" class="views-panel">
    <%= link_to  rfas_online_path do %>  
  <label class="switch">
  <input type="checkbox" <% if current_user.online_status == "rfa_online" %>checked<% end %> >
  <span class="slider"></span>
</label>
<% end %>

    <h2>Views</h2>
    
      <ul>
        <li data-action="click->rfa#rfaAll" >Altama Energy Queue <span class="count"><%= @rfas.count %></span></li>
        <li data-action="click->rfa#rfaUnassigned">Unassigned Queue <span class="count"><%= @rfa_unassigned.count %></span> </li>
        <li data-action="click->rfa#rfaMine">Assigned to me <span class="count"><%= @rfa_mine.count %></span></li>
        <li>Urgent issues</li>
        <li>Triage</li>
        <li>Suspended issues</li>
        <li data-action="click->rfa#rfaSolved">My solved issues <span class="count"><%= Rfa.solved_tickets %></span></li>
      </ul>
    </div>
    <div class="rfa-list">
    <div class="rfa-summary">
    <% comment do %>
    <% javascript_include_tag "ansilove.js" %>
    <% #ANS FILE VIEWER JAvascrip %>
<script>
var controller, retina;

retina = window.devicePixelRatio > 1;

AnsiLove.render("cl!-al02.ans", function (canvas, sauce) {
  document.getElementsByClassName('rfa-summary')[0].appendChild(canvas);
    
}, {"bits": "9", "2x": (retina ? 1 : 0)});

controller = AnsiLove.animate("<%= image_path('ansi/CITADEL6.ANS') %> ", function (canvas, sauce) {
  document.getElementsByClassName('rfa-summary')[0].appendChild(canvas);
    controller.play(2800);
}, {"bits": "9", "2x": (retina ? 1 : 0)});

</script>
<% end %>

    Altama Energy Queue
    </div>
      <div id="rfa_index">
      <div class="index-header">
        <div class="column-header">
        Requester
        </div>
        <div class="column-header">
        Location
        </div>
        <div class="column-header">
        Ship Type
        </div>
        <div class="column-header">
        Escalated
        </div>
      </div>

      <div data-rfa-target="rfaAll" id="all_rfas" class="rfa-list-item show">
        <%= render @rfas %>
      </div>
      <div data-rfa-target="rfaUnassigned" id="unassigned_rfas" class="rfa-list-item">
      <%= render @rfa_unassigned %>
    </div>
    <div data-rfa-target="rfaMine" id="my_rfas" class="rfa-list-item">
    <%= render @rfa_mine %>
  </div>
    <div data-rfa-target="rfaSolved" id="solved_rfas" class="rfa-list-item">
    <%= render @rfa_solved %>
  </div>

      </div>
    </div>
  </div>
</section>


<%= render '/desktop/taskbar', app1: 'Roadside Assistance' %>