<%= render '/desktop/window-frame', app1: 'Roadside Assistance' %>

<section id="rfa_index">

  <div class="topbar">

    <%= link_to "New rfa", new_rfa_path %>
  </div>
  <div class="rfa-main">
    <div id="sidebar" class="views-panel">
    <h2>Views</h2>
    
      <ul>
        <li>Altama Energy Queue <span class="count"><%= Rfa.all_tickets %></span></li>
        <li>Unassigned Queue</li>
        <li>Urgent issues</li>
        <li>Triage</li>
        <li>Suspended issues</li>
        <li>Deleted issues</li>
      </ul>
    </div>
    <div class="rfa-list">
    <div class="rfa-summary">
    Altama Energy Queue
    </div>
      <div id="rfa_index">
      <div class="index-header">
        <div class="column-header">
        Requester
        </div>
        <div class="column-header">
        Location
        </div>
        <div class="column-header">
        Ship Type
        </div>
        <div class="column-header">
        Escalated
        </div>
      </div>
        <%= render @rfas %>
      </div>
    </div>
  </div>
</section>


<%= render '/desktop/taskbar', app1: 'Roadside Assistance' %>