<p style="color: green"><%= notice %></p>

<%= render @rfa %>

<div>
  <%= link_to "Edit this rfa", edit_rfa_path(@rfa) %> |
  <%= link_to "Back to rfas", rfas_path %>

  <%= button_to "Destroy this rfa", rfa_path(@rfa), method: :delete %>
</div>
