<div class="form-section">

<div class="window-form" data-guildstone-target="createDepartment">
    <%= form_with(model: @department) do |form| %>
      <span>Department:</span>
      Title: <%= form.text_field :title, :required=>'true' %>
      
      <%= form.submit 'Add' %>
    <% end %>
  </div>

  <div class="window-form" data-guildstone-target="createPosition">
    <%= form_with(model: Position) do |f| %>
      <span>Position:</span>
      Title: <%= f.text_field :title, :required=>'true' %>
      <%= f.select :department_id, options_for_select(@departments.collect{ |u| [u.title, u.id] }  ), :include_blank => 'Select department'%>
      
      <%= f.submit 'Add' %>
    <% end %>
  </div>

  <div class="window-form" data-guildstone-target="createNomination">
    <%= form_with(model: PositionNomination) do |n| %>
    <span>Nominate:</span>
      
      <%= n.select :position_id, options_for_select(@positions.collect{ |u| [u.title, u.id] }  ), :include_blank => 'Select position'%>
      <%= n.select :nominee_id, options_for_select(@users.collect{ |u| [u.username, u.id] }  ), :include_blank => 'Select nominee'%>
      Reason: <%= n.text_field :campaign_description, :required=>'true' %>
      Resume: <%= n.text_field :resume %>
      
      <%= n.submit 'Add' %>
    <% end %>
  </div>

  <div class="window-form" data-guildstone-target="createRule">
  <%= form_with(model: RuleProposal) do |r| %>
    <span>Proposed Rule:</span>
        Title: <%= r.text_field :title, :required=>'true' %>
    <% if @categories.count >= 1 %>
    
      <%= r.select :category, options_for_select(@categories.collect{ |u| [u.name] }  ), :include_blank => 'Select category', :required=>"true" %>
    <% end %>
    <span class="category-trigger" data-action="click->guildstone#show">Add new category</span>
    Description: <%= r.text_field :description, :required=>'true' %>
     <%= r.select :position_id, options_for_select(@positions.collect{ |u| [u.title, u.id] }  ), :include_blank => 'Select Position (if position rule)'%>
     <%= r.select :department_id, options_for_select(@departments.collect{ |u| [u.title, u.id] }  ), :include_blank => 'Select Department (if department rule)'%>
    <%= r.submit 'Add', id: 'submit' %>
    
  <% end %>
  </div>
  
  <div class="window-form" data-guildstone-target="createNonConfidence">
<%= form_with(model: NonConfidence) do |n| %>
   <%= n.select :user_position_id, options_for_select(@user_positions.collect{ |u| [u.title, u.id, {:user_id=>u.user_id, :position_id=>u.position_id}]}), {:include_blank => 'Select UserPosition'}, {data:{'guildstone-target' => 'userPositionField', 'action' => 'click->guildstone#userPositionUpdate'}} %>
   <%= n.hidden_field :position_user_id, :value => 1, :id => 'position_user'  %>
   <%= n.hidden_field :position_id, :value => 1, :id => 'position_id' %>
   <%= n.hidden_field :originator_id, :value => current_user.id %>
   <%= n.submit 'Add', id: 'submit' %>  
<% end %>
</div>



</div>




