<div class="window-icon-bar">
    <div class="shortcut-icon-container" 
        title="Create new position" 
        data-action="click->guildstone#createPosition" >
            <%= image_tag("all_icons.png", class: "position-create") %>
    </div>

    <div class="shortcut-icon-container" 
        title="Create new department" 
        data-action="click->guildstone#createDepartment" >
            <%= image_tag("all_icons.png", class: "department-create") %>
    </div>

    <div class="shortcut-icon-container" 
        title="Create new nomination" 
        data-action="click->guildstone#createNomination" >
            <%= image_tag("all_icons.png", class: "nomination-create") %>
    </div>

    <div class="shortcut-icon-container" 
        title="Create new rule" 
        data-action="click->guildstone#createRule" >
            <%= image_tag("all_icons.png", class: "rule-create") %>
    </div>
    <div class="shortcut-icon-container" 
        title="Show all applications" 
        data-action="click->guildstone#allApplications" >
            <%= image_tag("all_icons.png", class: "all-applications") %>
    </div>

    <div class="shortcut-icon-container"><a href="#"></a></div>


    <div class="shortcut-icon-container" 
    title="Show org chart" 
    data-action="click->guildstone#buttonClicked" >
    <%= link_to guildstone_org_chart_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("all_icons.png", class: "org-chart") %>
        <% end %>
    </div>

    <div class="shortcut-icon-container" 
    title="All positions" 
    data-action="click->guildstone#buttonClicked" >
    <%= link_to  state_modals_path(task_id: @current_task),  class: 'desktop-icon', method: :post do %>
    <%#= link_to all_state_positions_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("all_icons.png", class: "all-positions") %>
        <% end %>
    </div>
    <div class="shortcut-icon-container" 
    title="All rules" 
    data-action="click->guildstone#buttonClicked" >
    <%= link_to state_rules_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("all_icons.png", class: "all-rules") %>
        <% end %>
    </div>


    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    <div class="shortcut-icon-container"><a href="#"></a></div>
    
    <div class="shortcut-icon-container <%# if @current_task.mail(current_user).present? %>gotmail<%# end %>" 
        title="Check messages" >
        <%= link_to guildstone_start_asl_path, class: 'desktop-icon',data:{ 'web-target' => 'shipSelectorField', 'action' => 'click->guildstone#buttonClicked' }, method: :post do %>
            <%= image_tag("all_icons.png", class: "mail") %>
        <% end %>
        
        <div class="unread-messages">
            <%=  current_user.guildstone_messages %>
        </div>
    </div>
    
</div>