<div class="section-window">
    <div class="section-window-header">
    <%= department.title %>
    </div>
    <div class="position-list">
        <% if department.positions %>
        <% if @current_task.state %>
        <% clean_state = @current_task.state.gsub(',', '') %>
        <% end %>
        <% department.positions.each_with_index do |position, index|  %>       
            
            <%= link_to state_positions_path(position: position.title), 
            class: "position-item#{ ' highlighted' if (position.title == clean_state) || (@current_task.state.blank? && index == 0) }", 
            method: :post do %>
            <%= position.title %>
             <%= position.position_username || ' - Apply / Vote' %>
            <% end %>

            <% if @window_states.present? %>
            <% @window_states.each_with_index do |window, i | %>
                <% if position.title == window %>
                <%= render 'modal-position', position: position, i: i %>
                <% end %>
            <% end %>
            <% end %>
            
        <% end %>
        
        <% else %>
        No positions
        <% end %>
    </div>
    <% if current_user.isAdmin? %>
    <%= button_to "Delete", department_path(department), method: :delete %>
    <% end %>
</div>
<style> 
#guildstones .position-list .highlighted{
    background-color:black;
    color:white;    
}
</style>