<div draggable="true" class="guildstone-modal" 
<% if i > 0 %>
style="transform: translate(
    calc(-50% + <%= i + 1.5 %>%),calc(-30% + <%= i + 2 %>%));
    z-index: <%= i %>"
<%end%> >
<div class="section-window-header"><%= position.title %> 
    
    <%= link_to "", close_position_window_path(window: position.title), class:'close-btn windowed' %>
    
    </div>
    <div class="position-container">
        <div class="position-header">
        <%= position.status %> |  <% if  position.user_position  %> <%= position.position_username  %><% end %> 
        </div>
        <div class="position-body">
            <div class="position-action">
            <% if  position.user_position  %> 
                <div class="position-row">Employee ID:  </div>
                <div class="position-row">Last Name:   First Name:</div>
                <div class="position-row">Title:  </div>
                <div class="position-row">Extension:  </div>
                <div class="position-row">Hire Date:  <%= position.user_position.created_at  %> </div>
                <% end %>
                <hr />
                <div class="buttons">
                <% unless position.user_position %>
                    <%= form_with(model: UserPosition) do |form| %>
                        <%= form.hidden_field :position_id, :value => position.id %>
                        <%= form.submit 'Apply' %>
                    <% end %>
                    <a href="btn">Nominate</a>
                <% end %>
                    <a href="btn">Cancel</a>
                    <% if position.user == current_user %>
                    <a href="btn">Terminate</a>
                    <% end %>
                </div>
            </div>


            <div class="position-applications">
                
                <div class="header-title">
                <span>
                Applicant
                </span>
                <span>
                Action
                </span>
                </div>
                <div class="application-table">
                    <% position.applications.each do | application | %>
                        <span><%= application.user.username %></span>
                            <% unless application.user.id == current_user.id %>
                            <% if position.already_voted?(current_user) %>
                                <%= link_to "UnVote", unvote_path(user: current_user, nomination: application) %>
                            <% else %>
                                <%= link_to "Vote", vote_path(user: current_user, nomination: application) %>
                            <% end %>
                        <% end %>
                    <% end %>
                 </div>
            </div>
        </div>
    </div>
</div>