<div draggable="true" class="guildstone-modal" 
  <% if i > 0 %>
    style="transform: translate(
      calc(-50% + <%= i + 1.5 %>%),calc(-30% + <%= i + 2 %>%));
      z-index: <%= i %>"
  <%end%> 
 >
  <div class="section-window-header">
    UserPositions
    <%= link_to "", close_user_position_window_path(window: "UserPositions"), class:'close-btn windowed' %> 
  </div>

  <% for users in User.all %>
    <div class="name"><%= users.username %></div>
    <div class="positions">
      <% for positions in UserPositionHistory.where(user_id: users.id).where.not(title: nil) %>
        <div class="item">
         <%= positions.title %> 
          <% if positions.active %>
            || Current Position
            <%# if NonConfidence.where(user_position_id: @up.user_id)%>
            <%= form_with(model: NonConfidence) do |form| %>
                <%= form.hidden_field :user_position_id, :value => positions.id %>
                <%= form.hidden_field :originator_id, :value => current_user.id%>
                <%= form.submit 'Apply' %>
            <%# end %>
            <% end %>
          <% end %>
          
          </div>


      <% end%>
      </div>
  <% end %>
    

</div>
  