<div draggable="true" class="guildstone-modal" 
<% if i > 0 %>
style="transform: translate(
    calc(-50% + <%= i + 1.5 %>%),calc(-30% + <%= i + 2 %>%));
    z-index: <%= i %>"
<%end%> >
<div class="section-window-header"><%= position.title %> 
    
    <%= link_to "", close_position_window_path(window: position.title), class:'close-btn windowed' %>
    
    </div>
    <div class="position-container">
        <div class="position-header">
         <% if  position.user_position  %> <%= position.position_username  %><% else %> Apply today for <%= position.title %><% end %> 
        </div>
        <div class="position-body">
            <div class="position-action">
            Department: <%=position.department.title %>
            <% if  position.user_position  %> 
                <div class="position-row">Employee ID:  </div>
                <div class="position-row">Last Name:   First Name:</div>
                <div class="position-row">Title:  </div>
                <div class="position-row">Extension:  </div>
                <div class="position-row">Hire Date:  <%= position.user_position.created_at  %> </div>
            <% end %>
                <hr />

                <div class="election-container">
                    Total votes: <%= position.total_votes %>
                    <br />
                    Votes needed: <%=(@altama_users.count * 0.66666).ceil %>
                    <br />
                    
                        Term end:  <%= ((position.term_start || Date.today) + (position.term_length_days || 0).days).strftime('%B %d, %Y') %>
                    <br />
                        Term start: <%= position.term_start.strftime('%B %d, %Y') %>
                    <br />
                    <% if position.term_start  && position.term_start > Time.now %> 
                        Voting is open
                    <% end %>
                </div>

                <div class="buttons">
                    <% unless position.user_position || position.nomination(current_user.id)  %>
                        <%= form_with(model: PositionNomination) do |form| %>
                            <%= form.hidden_field :position_id, :value => position.id %>
                            <%= form.hidden_field :nominee_id, :value => current_user.id%>
                            <%= form.label :campaign_description, "Campaign Description:" %>
                            <br/>
                            <%= form.text_area :campaign_description %>
                            <br/>
                            <%= form.label :resume, "Resume: " %>
                            <br/>
                            <%= form.text_area :resume %>
                            <br/>
                            <%= form.submit 'Apply' %>
                        <% end %>
                    <% end %>
                    <% if position.user_position?(current_user.id) %>
                        This is already your current position!
                    <% elsif position.nomination(current_user.id) %>
                        You have already applied/been nominated for this position!
                        <br>
                        <%= button_to "Cancel Nomination/Application", position_nomination_path(position.nomination(current_user.id)), method: :delete %>
                        
                    <% end %>
                </div>
            </div>
            <% unless  position.user_position  %>
                <div class="position-applications">                
                    <div class="header-title">
                        <span>
                        Applicant
                        </span>
                        <span>
                        Action
                        </span>
                    </div>
                    <div class="application-table">
                    
                        <% position.applications.each do | application | %>
                            
                            <span><%= application.nominee.username %><% if application.user.id == current_user.id %> - <%= application.total_votes %><% end %></span>
                                <% unless application.user.id == current_user.id %>
                                <% unless position.already_voted?(current_user) %>
                                <%= link_to "Vote", vote_path(user: current_user, nomination: application) %>
                                    
                                <% else %>
                                Voted
                                <%#= link_to "UnVote", unvote_path(user: current_user, nomination: application) %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>