<div draggable="true" class="guildstone-modal" 
<% if i > 0 %>
style="transform: translate(
    calc(-50% + <%= i + 1.5 %>%),calc(-30% + <%= i + 2 %>%));
    z-index: <%= i %>"
<%end%> >
<div class="section-window-header"><%= position.title %> 
    
    <%= link_to "", close_position_window_path(window: position.title), class:'close-btn windowed' %>
    
    </div>
    <div class="position-container">
        <div class="position-header">
        <%= position.status %> | <%= position.position_username  %> 
        </div>
        <div class="position-body">
            <div class="position-action">
            <% if  position.user_position  %> 
                <div class="position-row">Employee ID:  </div>
                <div class="position-row">Last Name:   First Name:</div>
                <div class="position-row">Title:  </div>
                <div class="position-row">Extension:  </div>
                <div class="position-row">Hire Date:  <%= position.user_position.created_at  %> </div>
                <% end %>
                <hr />
                <div class="buttons">
                    <% unless position.user_position || position.nomination(current_user.id)  %>
                        <%= form_with(model: PositionNomination) do |form| %>
                            <%= form.hidden_field :position_id, :value => position.id %>
                            <%= form.hidden_field :nominee_id, :value => current_user.id%>
                            <%= form.label :campaign_description, "Campaign Description: " %>
                            <%= form.text_field :campaign_description %>
                            <%= form.label :resume, "Resume: " %>
                            <%= form.text_field :resume %>
                            <%= form.submit 'Apply' %>
                        <% end %>
                    <% end %>
                    <% if position.user_position %>
                        This is already your current position!
                    <% elsif position.nomination(current_user.id) %>
                        You have already applied/been nominated for this position!
                        <br>
                        <a href="btn">Cancel Nomination/Application</a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>