
<div draggable="true" class="guildstone-modal org_chart" 
    <% if i > 0 %>
    style="transform: translate(
        calc(-50% + <%= i + 1.5 %>%),calc(-30% + <%= i + 2 %>%));
        z-index: <%= i %>"
    <%end%> >
        <div class="section-window-header">    
        Altama Energy Org Chart
            <%= link_to "", close_state_window_path(window: 'orgChart-Guildstone', task: @current_task.id), class:'close-btn windowed' %>
        </div>
        <div class="modal-container">
            <div class="position-header">
            Altama Energy Org Chart
            </div>
            <div class="modal-body">
                <div class="chart-container">
                    <span class="whitebackground">Partners</span>
                    <div class="chart-body">
                        <div class="executive">
                            <% @executive_departments.each do |department| %>
                                
                                <% if department.department_type == "faculty"  %>
                                    <div class="exec-department circle">
                                        <%= department.title %>
                                    </div>
                                <% end %>
                            <% end %>

                            <div class="governing">
                                <% @governing_departments.each do |department| %>
                                    
                                        <% unless department.title == "CEO"  %>
                                        <div class="exec-department rounded">
                                            <%= department.title %>
                                        </div>
                                        <% else %>
                                            <div class="exec-department">
                                                <%= department.title %>
                                            </div>
                                        <% end %>                                    
                                <% end %>
                                </div>

                                
                            <% @audit_departments.each do |department| %>                            
                                <div class="exec-department">
                                    <%= department.title %>
                                </div>
                            <% end %>
                            

       

                        </div>

                        <div class="directors">
                        <% @director_departments.each do |department| %>
                                <div class="director-department">
                                <%= department.title %>
                                </div>
                            <% end %>
                        </div>
                        <div class="flightcrews">
                        <% @worker_departments.each do |department| %>
                            <div class="flightcrew_department">
                            <%= department.title %>
                            </div>
     
                        <% end %>
                     </div>

                    </div>
                    <span class="whitebackground">Member Owners</span>
                </div>
            </div>
        </div>
    </div>
</div>