<%= render '/desktop/window-frame', app1: 'Guildstone' %>

<div class="window-container">
  <ul class="window-menu">
    <li>File</li>
    <li>File</li>
    <li>File</li>
    <li>File</li>
    <li>File</li>
    <li>File</li>
  </ul>
  <%= render 'icon-bar'%>
  <%= render 'form_section' %>
  <div class="window-section-body-container">
    <div class="window-section-body">
      <div class="section-header"><%= @guildstone.title %></div>
      <% @departments.each do |department| %>
        <%= render 'department', department: department %>
      <% end %>
    </div>
  </div>
</div>
<%= render '/desktop/taskbar', app1: 'Guildstone' %>