<%= render '/desktop/window-frame', app1: 'Guildstone' %>

<div data-controller="guildstone" class="window-container">
  <ul class="window-menu">
    <li class="disabled">File</li>
    <li class="disabled">Edit</li>
    <li class="disabled">View</li>
    <li class="disabled">Relationships</li>
    <li class="disabled">Tools</li>
    <li class="disabled">Window</li>
    <li class="disabled">Help</li>
  </ul>
  <%= render 'icon-bar'%>
  <%= render 'form_section' %>
     <%= render "rule_category_form", category: @category%>
      <div class="window-section-body-container">
      <div class="section-header"><%= @guildstone.title %></div>
        <div class="window-section-body">
    
          <% @departments.each do |department| %>
            <%= render 'main_department', department: department %>
          <% end %>
        <div>



            <% if @user_position_windows.present? %>
              <%  @user_position_windows.each_with_index do |window, i | %>
                <%= render 'modal_user_positions', i: i %>
              <% end %>
            <% else %>   
            <% end %>
            </div>
            <div>

            <% if @rules_windows.present? %>
              <%  @rules_windows.each_with_index do |window, i | %>
                    <%= render 'modal_rules', i: i %>
              <% end %>
            <% end %>

            <% if @orgchart_windows.present? %>
            <%  @orgchart_windows.each_with_index do |window, i | %>
                  <%= render 'modal-org_chart', i: i %>
            <% end %>
          <% end %>
            
            <% if @message_windows.present? %>              
                <%#= render '/desktop/apps/asl/message', message:@guildstone_message, task: @current_task  %>              
            <% end %>

            <% if @modals.present? %> 
              <% @modals.each_with_index do |window, i |  %>       
                  
                  <%= render 'modal', window: window, task: @current_task, i: i   %>              
              <% end %>
            <% end %>

      </div>
    </div>
  </div>
</div>
<%= render '/desktop/taskbar', app1: 'Guildstone' %>