<%= render '/desktop/window-frame', app1: 'Guildstone' %>

<div data-controller="guildstone" class="window-container">
  <ul class="window-menu">
    <li class="disabled">File</li>
    <li class="disabled">Edit</li>
    <li class="disabled">View</li>
    <li class="disabled">Relationships</li>
    <li class="disabled">Tools</li>
    <li class="disabled">Window</li>
    <li class="disabled">Help</li>
  </ul>
  <%= render 'icon-bar'%>
  <%= render 'form_section' %>
  <div class="window-section-body-container">
    <div class="window-section-body">
      <div class="section-header"><%= @guildstone.title %></div>
      <% @departments.each do |department| %>
        <%= render 'department', department: department %>
      <% end %>
    </div>
  </div>
</div>
<%= render '/desktop/taskbar', app1: 'Guildstone' %>