<%= render '/desktop/window-frame', app1: 'Guildstone' %>

<div data-controller="guildstone" class="window-container">
  <ul class="window-menu">
    <li class="disabled">File</li>
    <li class="disabled">Edit</li>
    <li class="disabled">View</li>
    <li class="disabled">Relationships</li>
    <li class="disabled">Tools</li>
    <li class="disabled">Window</li>
    <li class="disabled">Help</li>
  </ul>
  <%= render 'icon-bar'%>
  <%= render 'form_section' %>
     <%= render "rule_category_form", category: @category%>
      <div class="window-section-body-container">
        <div class="window-section-body">
          <div class="section-header"><%= @guildstone.title %></div>
          <% @departments.each do |department| %>
            <%= render 'department', department: department %>
          <% end %>
        <div>
            <%= link_to state_user_positions_path, class: 'desktop-icon', method: :post do %>
              View All User Positions
            <% end %>
            <% if @user_position_windows.present? %>
              <%  @user_position_windows.each_with_index do |window, i | %>
                <%= render 'modal_user_positions', i: i %>
              <% end %>
            <% else %>   
            <% end %>
            </div>
            <div>
            <%= link_to state_rules_path, class: 'desktop-icon', method: :post do %>
              View All Rules
            <% end %>
            <% if @rules_windows.present? %>
              <%  @rules_windows.each_with_index do |window, i | %>
                    <%= render 'modal_rules', i: i %>
              <% end %>
            <% end %>
            
            <% if @message_windows.present? %>
              <% @guildstone_messages.each_with_index do |message, i | %>
                <%= render '/desktop/apps/asl/message', message:message, task: @current_task  %>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>
<%= render '/desktop/taskbar', app1: 'Guildstone' %>