
<%= form_with(model: rfa) do |form| %>
<%#= form_with(model: rfa, data:{ controller: 'web'}) do |form| %>
    <% if rfa.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(rfa.errors.count, "error") %> prohibited this rfa from being saved:</h2>
  
        <ul>
          <% rfa.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  

  <% if current_user && !current_user.has_open_ticket? %> 
  <%= form.hidden_field :title, :value => 'Web roadside request' %>
  <%= form.hidden_field :status_id, :value => 0 %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.hidden_field :location_id, :value => location.id, data:{ 'web-target' => 'locationField'} %>
  <div  class="field">
  <% if current_user.rsi_username && current_user.verified? %>
  <span style="text-align:center; width:100%;">Verified RSI name: <%= current_user.rsi_username %></span>
<%= form.hidden_field :rsi_username, :value => current_user.rsi_username %>
    <% else %>
   RSI Character name:
 <%= form.text_field :rsi_username %>
 <div class="field">
 <a class="verify cta" data-action="click->web#verify"><%= Reward.apply('verified') %>% discount!</a>
 </div>
  <% end %>
  </div>

  <div class="field">

  <%= form.select :location_id_parent,
   options_for_select(@location.moons.collect{ |u| [u.name, u.id] } ),
   {:include_blank => @location.name},
   {data:{ action: 'change->web#moonSelect'}}
       %>
  </div>

  <div class="field">

  <%= form.select :location_id_sublocation, options_for_select(@location.sublocations.collect{ |u| [u.name, u.id]} ), 
  {:include_blank => "Select #{@location.name} location.."},
   {data:{ 'web-target' => 'localField', 'location-name' => @location.name , 'action' => 'change->web#locationSelect' }} %>

<% @location.moons.each do |moon| %>
  
  <div id="<%= moon.name %>-selector" class="moon-containers">

  <%= form.select :location_id_moonchildren, options_for_select(moon.moonchildren.collect{ |u| [u.name, u.id]} ), 
  {:include_blank => "Select #{moon.name} location.."},
   {data:{ action: 'change->web#locationSelect'}} %>
  </div>
  <% end %>

  </div>


<div class="userships" style="margin-top:5px; margin-bottom:10px;">
  Select from your ships:
  <% @userships = current_user.userships %> 
  <% @userships.take(5).each do | usership| %>

      <span class="shipButtons" style="display:inline-block;background-color:grey; margin: 0px 3px; border-radius:10px; padding:2px 5px;">
        <%= form.radio_button(:ship_id, usership.ship.id, checked: usership.primary) %>
        <%= label_tag(usership.ship.model) %>
      </span>
  <% end %>

    <%= form.select :ship_id, options_for_select(@userships.collect{ |u| [u.ship.model, u.ship.id]}), {:include_blank => "Select from your other ships.."}, {data:{ action: 'click->web#removeShipButtons'}}%>

</div>



<div class="field" style="margin-top:5px; margin-bottom:10px;">
<span style="text-decoration:underline;" data-action="click->web#show">Ship not shown? Add new!</span>

</div>




  <div class="field">
  <div class="submit-row">
  
  <%= form.submit 'Request' , id: 'submit'%>
  </div>
  <div>

</div>
  </div>
  <div style="display:none;" class="field">Priority: <%#= form.select :priority_id, ["Urgent","Hight","Norminal"] %></div>
  <% elsif !current_user %>
  <p>
  Login with your AltamaPlus account 
  Don't have one? Sign up with Discord!
  </p>
  <% end %>
  

  <% end %>
  