<div class="system-map">

<div class="planet-container">
<style>
#planet-<%=location.id %> .surface{fill: <%=location.surface_color %>};
</style>
<style>
#planet-<%=location.id %> .ocean{fill: <%=location.ocean_color %>};
</style>
<%= show_svg('locations/planet', id:"planet-#{location.id}" )%>
<div class="planet-menu">

<h2><%= location.name %></h2>
    <ul>
    <% location.sublocations.each do | sublocation | %>
        <li class="sublocation-link" data-location=<%= sublocation.id %> data-action="click->web#selectSubLocation"><%=sublocation.name %></li>
    <% end %>
    </ul>
</div>
</div>

<div class="moons">
<% location.moons.each do |moon| %>
    <div class="moon-container">
    <div class="moon-menu">
    <h2><%= moon.name %></h2>
    <ul>
        <% moon.moonchildren.each do | moonchild | %>
            <li class="sublocation-link" data-location=<%= moonchild.id %> data-action="click->web#selectSubLocation"><%=moonchild.name %></li>
        <% end %>
        </ul>
    </div>
    <style>
#moon-<%=moon.id %> path#land{fill: <%=moon.surface_color %>};
#moon-<%=moon.id %> path#water{fill: <%=moon.ocean_color %>};
</style>
    <%= show_svg('locations/moon',id:"moon-#{moon.id}" ) %>
    </div>
    <% end %>
</div>

</div>