<%= form_with(model: manufacturer) do |form| %>
  
<div class="field-container">
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :origin_location  %>
    <%= form.text_field :origin_location %>
  </div>
</div>
  <div class="button-container">
    <%= form.submit 'Create' %>
    <a class="btn" href="#">Cancel</a>
  </div>
<% end %>
