<div id="<%= dom_id manufacturer %>">
  <p>
    <strong>Name:</strong>
    <%= manufacturer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= manufacturer.description %>
  </p>

  <p>
    <strong>Origin location:</strong>
    <%= manufacturer.origin_location %>
  </p>

  <p>
    <%= link_to "Show this manufacturer", manufacturer %>
  </p>
</div>
