Trade Run Commodities<br />
________________________<br />
<ul style="height: 50vh; overflow: scroll;">

<div class="">
<%= form_with url: deactivate_commodities_path, method: :post, local: true, data: { turbo: false } do |f| %>


    
<%= f.collection_select :location, Location.where(trade_terminal: true), :name, :name, {prompt: "Select a location"}, {data: { action: "change->traderun#loadCommodities" }} %>

    
<%= f.collection_select :name, [], :name, :name, {prompt: "Select a commodity"}, {id: "commodity-select"} %>
  
    <%= f.submit "Deactivate Commodities" %>
  <% end %>
</div>

<div class="">
********************************************************<br />
<span>Top Profit / SCU</span>
<% @profit_scu_traderuns.each do |traderun| %>
<%= traderun.id %>
<% end %>
********************************************************<br />
</div>

<% @all_commodities.each do |commodity| %>
    <% if commodity.location.nil? %>

    <% end %>
    <li >
    <% if commodity.buy > 0 %>
    <span style="color:red">BUY:</span> <%= commodity.name.upcase %> | <%= Location.find_parent(commodity.location) %> <%= commodity.location.upcase %> | <%= commodity.buy %>

    <% elsif commodity.sell > 0  %>

    <span style="color:green">SELL:</span> <%= commodity.name.upcase %> | <%= Location.find_parent(commodity.location) %> <%= commodity.location.upcase %> | <%= commodity.sell %>
    <% end %>
</li>
    <% end %>
    </ul>

    