
<tr class="white">
<td><span>4</span></td>
<td></td>
<td><span>Inventory</span></td>
<td><span>Buy Scu</span></td>
<td><span>Buy Price</span></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<% @milk_runs_buy.each_with_index do |milk_run, index| %>
<tr>
  <td><span><%= index + 5 %></span></td>
  <% ('A'..end_column).each do |char| %>
    <% if char == 'A' %>
    <td class="red"><span><%= milk_run.user.username %></span></td>
      <% elsif char == 'B' %>
      <td><span>
      <%= milk_run.buy_commodity&.name %></span></td>
      <% elsif char == 'C' %>
      <td><span>
      <%= milk_run.buy_commodity_scu %>SCU</span></td>
      <% elsif char == 'D' %>
      <td><span>
      <%= milk_run.buy_commodity_price %>aUEC
      </span></td>
      <% elsif char == 'I' %>
      <td><span>
      <%= link_to "DEL", destroy_milk_run_path(milk_run) %>      
      </span></td>
       <% else %>
      <td></td>
       <% end %>
  <% end %>
  </tr>
<% end %>
