
    
    <tr data-form_type="buy">
    <%= form_with model: @milk_run, local: true do |f| %>
      <td>1</td>
      <% ('A'..end_column).each do |char| %>
       <% if char == 'A' %><td>Buy</td><% end %>
       <% if char == 'B' %>
        <td>                    
            <div>
                <input name="user_id" type="text" class="form-control" placeholder="search a user"/>       
                <ul  class="list-group"></ul>
            </div>                
        </td>
       <% end %>
       <% if char == 'C' %>
         <td>          
            <input type="hidden" name="buy_commodity_id" id="buy_commodity_id" />
            <%= f.hidden_field :form_type, value: "buy", 'data-milkrun-target': 'formType' %>
            <input type="hidden" name="trade_session_id" id="trade_session_id" value="<%= @trade_session_id %>" />

            <%= f.select :usership_id, @cargo_ships.map { |s| [s.model, s.id] }, 
            { include_blank: 'Select Ship' } %>
         </td>          
       <% end %>
       <% if char == 'D' %>
       <td>
        <%= f.select :buy_location, @all_locations_parent_grouped.map { |l| [l.name, l.name] }, 
        { include_blank: 'Select Location' }, 
        { data: { action: "change->milkrun#locationChanged" } } %>        
       </td>
       <% end %>
       <% if char == 'E' %>
       <td>
        <%= f.select :commodity_name, [], { include_blank: 'Select location first' }, 
        data: { action: "change->milkrun#populateCommodityPrice", milkrun_target: 'commoditySelector' } %>
        </td>
       <% end %>
       <% if char == 'F' %>
        <td><%= f.number_field :buy_commodity_scu, placeholder: 'BUY_SCU', data: { action: "change->milkrun#calculateCapital", milkrun_target: 'buyScu'  } %></td>
       <% end %>
       <% if char == 'G' %>
        <td><%= f.number_field :buy_commodity_price, placeholder: 'Buy_Price', data: { action: "change->milkrun#calculateCapital", milkrun_target: 'buyPrice' } %></td>
       <% end %>
       <% if char == 'H' %>
        <td id="capital" data-milkrun-target="capital"></td>
       <% end %>
       <% if char == 'I' %>
        <td>
        

        
        <%= f.submit 'Buy' %></td>
       <% end %>
      <% end %>
      <% end %>
    </tr>
  

