 <%= render '/trade123/traderun_menu' %>
<% end_column = "I" %>
 <div data-controller="spreadsheet">
 <table id="spreadsheetTable">
   <thead>
     <tr>
       <th></th>
       <% ('A'..end_column).each do |char| %>
         <th><%= char %></th>
       <% end %>
     </tr>
   </thead>
   <tbody>
     <%= form_with model: @milk_run, local: true do |f| %>
       <tr>
         <td>1</td>
         <% ('A'..end_column).each do |char| %>
          <% if char == 'A' %><td>Buy</td><% end %>
          <% if char == 'B' %><td><%= f.text_field :profit, placeholder: 'Username' %></td><% end %>
          <% if char == 'C' %><td><%= f.text_field :profit, placeholder: 'Ship' %></td><% end %>
          <% if char == 'D' %><td><%= f.text_field :profit, placeholder: 'Location' %></td><% end %>
          <% if char == 'E' %><td><%= f.text_field :commodity, placeholder: 'Commodity'  %></td><% end %>
          <% if char == 'F' %><td><%= f.text_field :profit, placeholder: 'BUY_SCU' %></td><% end %>
          <% if char == 'G' %><td><%= f.text_field :profit, placeholder: 'Buy_Price' %></td><% end %>
          <% if char == 'H' %><td><%= f.text_field :profit, placeholder: 'Capital'  %></td><% end %>
          <% if char == 'I' %><td><%= f.submit 'Buy' %></td><% end %>
         <% end %>
       </tr>
     <% end %>
     <%= form_with model: @milk_run_group, local: true do |f| %>
       <tr>
         <td>2</td>
         <% ('A'..end_column).each do |char| %>
          <% if char == 'A' %><td>Sell</td><% end %>
          <% if char == 'B' %><td><%= f.text_field :profit, placeholder: 'Ship' %></td><% end %>
          <% if char == 'C' %><td><%= f.text_field :profit, placeholder: 'Location'  %></td><% end %>
          <% if char == 'D' %><td><%= f.text_field :commodity, placeholder: 'Commodity'  %></td><% end %>
          <% if char == 'E' %><td><%= f.text_field :profit, placeholder: 'SELL_SCU' %></td><% end %>
          <% if char == 'F' %><td><%= f.text_field :profit, placeholder: 'SellPrice'  %></td><% end %>
          <% if char == 'G' %><td><%= f.text_field :profit, placeholder: 'Profit/SCU' %></td><% end %>
          <% if char == 'H' %><td><%= f.submit 'Sell' %></td><% end %>
         <% end %>
       </tr>

     <% end %>
     <% @milk_runs.each_with_index do |milk_run, index| %>
       <tr>
         <td><%= index + 1 %></td>
         <% ('A'..end_column).each do |char| %>
           <% if char == 'A' %>
             <td><%= milk_run.profit %></td>
           <% else %>
             <td></td>
           <% end %>
         <% end %>
       </tr>
     <% end %>
   </tbody>
 </table>
</div>

<div id="data" >
<%= content_tag :div, id: "ships-data", class: "hidden", data: { ships: @cargo_ships.to_json(only: [:model, :scu]) } do %><% end %>
<%= content_tag :div, id: "commodities-data", class: "hidden", data: { traderun_target:'commoditiesData', commodities: @all_commodities.to_json(only: [:id, :name, :buy, :sell, :location, :updated_at]) } do %><% end %>
</div>


<style>

#spreadsheetTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#spreadsheetTable th, #spreadsheetTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

#spreadsheetTable th {
  background-color: #f2f2f2;
}
</style>

