 <%= render '/trade123/traderun_menu' %>
 
 <% @trade_session_id =  @current_task.state.split("-").last %>
 <%# @commodities_for_sell = MilkRun.joins(:buy_commodity).pluck('commodities.name', 'commodities.id') %>
 <% @session_milkruns = MilkRun.where(trade_session_id: @trade_session_id) %>

 <%# @commodities_for_sell = @session_milkruns.where(sell_commodity_id: nil).joins(:buy_commodity).pluck('commodities.id') %>
<%
@commodities_for_sell = Commodity.joins(milk_runs: :user)
                                  .where(milk_runs: { trade_session_id: @trade_session_id, sell_commodity_id: nil })
                                  .select('commodities.*, users.username')

 %>

 <% @milk_runs_buy =  @session_milkruns.where("sell_commodity_price IS NULL OR sell_commodity_price = 0").order(created_at: :desc)  %>
 <% @milk_runs_sell =  @session_milkruns.where("sell_commodity_price > 0").order(created_at: :desc) %>
 


<%# @locations_for_sell = Location.where(name: @commodities_for_sell.map(&:location)).distinct %>
<% end_column = "I" %>
 <div id="milk_run" data-controller="milkrun">
 <table id="spreadsheetTable">
   <thead>
     <tr>
       <th></th>
       <% ('A'..end_column).each do |char| %>
         <th><span><%= char %></span></th>
       <% end %>
     </tr>
   </thead>
   <tbody>
     
<%= render '/trade123/milk_run_buy_form', end_column: end_column %>
<%= render '/trade123/milk_run_sell_form', end_column: end_column %>
     
<%= render '/trade123/milk_run_buy_list', end_column: end_column %>
<%= render '/trade123/milk_run_sell_list', end_column: end_column %>

   </tbody>
 </table>
</div>

<div id="data" >
  <%= content_tag :div, id: "locations-data", class: "hidden", data: { locations: @all_locations_parent_grouped.to_json(only: [:name, :parent]) } do %><% end %>
  <%= content_tag :div, id: "ships-data", class: "hidden", data: { ships: @cargo_ships.to_json(only: [:model, :scu, :id]) } do %><% end %>
  <%= content_tag :div, id: "commodities-data", class: "hidden", data: { milkrun_target:'commoditiesData', commodities: @active_commodities.to_json(only: [:id, :name, :buy, :sell, :location, :updated_at]) } do %><% end %>
  <%= content_tag :div, id: "milkruns-data", class: "hidden", data: { milkrun_target:'milkRunData', milk_runs: MilkRun.select_by_session(@trade_session_id).to_json(only: [:id, :buy_commodity_id, :buy_commodity_price, :buy_commodity_scu,:sell_commodity_id, :commodity_name, :buy_location, :updated_at]) } do %><% end %>
</div>


<style>
  #spreadsheetTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  #spreadsheetTable th, #spreadsheetTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #spreadsheetTable th {
    background-color: #f2f2f2;
  }

#shell .shell-container #traderun input{
color: #b9b9b9;
}

</style>

