 <%= render '/trade123/traderun_menu' %>

    <table id="spreadsheet">
    <thead>
      <tr>
        <th></th>
        <th><span>A</span></th>
        <th><span>B</span></th>
        <th><span>C</span></th>
        <th><span>D</span></th>
        <th><span>E</span></th>
        <th><span>F</span></th>
        <th><span>G</span></th>
        <th><span>H</span></th>
        <th><span>I</span></th>
        <th><span>J</span></th>
        <th><span>K</span></th>
        <th><span>L</span></th>
        <th><span>M</span></th>
        <th><span>N</span></th>
        <th><span>O</span></th>
        <th><span>P</span></th>
        <th><span>Q</span></th>
      </tr>
    </thead>
    <tbody  data-traderun-target="tbody">
      <tr>
        <td class="rownumber"><span>1</span></td>
        <td><span>Captain</span></td>
        <td><span>Ship</span></td>
        <td<span>>Buy Location</span></td>
        <td><span>Split</span></td>
        <td><span>Commodity</span></td>
        <td><span>Buy price</span></td>
        <td><span>SCU Buy</span></td>
        <td><span>Sell Location</span></td>
        <td><span>Sell price</span></td>
        <td><span>SCU Sell</span></td>
        <td><span>Capital</span></td>
        <td><span>Income</span></td>
        <td><span>Profit</span></td>
        <td><span>ProfSCU</span></td>
        <td><span>Market delta</span></td>
        <td><span>Payout</span></td>
        <td><span>Action</span></td>
      </tr>

      <tr>
      <%= render 'trade123/trade_run_new' %>
      </tr>

      <% @viewing_traderuns.each_with_index do |trade_run, i | %>
        <%= render '/trade123/viewing_traderuns', trade_run: trade_run, i:i %>
      <% end %>
    </tbody>
  </table>

  <script>
    let selectedCell = null;
    const cells = document.querySelectorAll('td[contenteditable="true"]');

    cells.forEach((cell) => {
    cell.addEventListener('click', () => {
    if (selectedCell) {
        selectedCell.classList.remove('selected');
    }
    selectedCell = cell;
    selectedCell.classList.add('selected');
    });
    });

    document.addEventListener('keydown', (event) => {
    if (selectedCell) {
    const currentRowIndex = selectedCell.parentNode.rowIndex;
    const currentColumnIndex = selectedCell.cellIndex;
    let newCell;

    switch (event.key) {
        case 'ArrowUp':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex - 1}-col-${currentColumnIndex}`);
        break;
        case 'ArrowDown':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex + 1}-col-${currentColumnIndex}`);
        break;
        case 'ArrowLeft':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex}-col-${currentColumnIndex - 1}`);
        break;
        case 'ArrowRight':
        newCell = document.getElementById(`spreadsheet-row-${currentRowIndex}-col-${currentColumnIndex + 1}`);
        break;
        default:
        break;
    }

    if (newCell) {
        selectedCell.classList.remove('selected');
        selectedCell = newCell;
        selectedCell.classList.add('selected');
    }
    }
    });
</script>


    <div id="data" >
        <%= content_tag :div, id: "locations-data", class: "hidden", data: { locations: @all_locations_parent_grouped.to_json(only: [:name, :parent]) } do %><% end %>
        <%= content_tag :div, id: "ships-data", class: "hidden", data: { ships: @cargo_ships.to_json(only: [:model, :scu]) } do %><% end %>
        <%= content_tag :div, id: "commodities-data", class: "hidden", data: { traderun_target:'commoditiesData', commodities: @all_commodities.to_json(only: [:id, :name, :buy, :sell, :location, :updated_at]) } do %><% end %>
    </div>



