<%= form_with(model: trade_run, local: true) do |form| %>
    <tr class="existing runs">
      <td class="rownumber"><%= i + 3 %></td>
    
      <td>
        <%= trade_run.username %>
      </td>
    
      <td>
        <%= trade_run.ship %>
      </td>
    
      <td>
        <%= trade_run.buy_location %>
      </td>
    
      <td>
      [<% if trade_run.split %>X<% else %> <% end %>]
      </td>
    
      <td>
        <% if trade_run.split %>
          <% trade_run.splits.each  do  |split| %>
            <%= split.commodity_name %>
          <% end %>
          <% else %>
            <% if trade_run.commodity_id %>
              <%= trade_run.commodity_name %>
            <% end %>
        <% end %>
      </td>
    
      <td >
        <% if trade_run.split %>
        <% trade_run.splits.each  do  |split| %>
          <%= split.buy_price %>
        <% end %>
        <% else %>
          <% if trade_run.commodity_id %>
            <%= text_field_tag "buy_price", trade_run.buy_price, data: { controller: "traderun", action: "input->traderun#update", traderun_url: url_for(controller: :trade_runs, action: :update, id: trade_run.id) } %>
          <% end %>
      <% end %>
      </td>
    
      <td >
      <% if trade_run.split %>
      <% trade_run.splits.each  do  |split| %>
        <%= split.scu %>
      <% end %>
      <% else %>
        <% if trade_run.commodity_id %>
          <%= trade_run.scu %>
          <%= text_field_tag "scu", trade_run.scu, data: { controller: "traderun", action: "input->traderun#update", traderun_url: url_for(controller: :trade_runs, action: :update, id: trade_run.id) } %>
        <% end %>
    <% end %>
      </td>
    
      <td >
        <%= trade_run.sell_location %>
      </td>
    
      <td >
      <% if trade_run.split %>
      <% trade_run.splits.each  do  |split| %>
        <%= split.sell_price %>
      <% end %>
      <% else %>
      
        <% if trade_run.commodity_id %>
        <%#= form.text_field :sell_price, value: trade_run.sell_price, data: { controller: "traderun", action: "input->traderun#update", url: url_for(controller: :trade_runs, id: trade_run.id) } %>
        <%#= form.text_field :sell_price, value: trade_run.sell_price, data: { controller: "traderun", action: "input->traderun#update", traderun_url: url_for(controller: :trade_runs, action: :update, id: trade_run.id) } %>
        <%= text_field_tag "sell_price", trade_run.sell_price, data: { controller: "traderun", action: "input->traderun#update", traderun_url: url_for(controller: :trade_runs, action: :update, id: trade_run.id) } %>


        <% end %>
    <% end %>      
      </td>
    
      <td >
      <% if trade_run.split %>
      <% trade_run.splits.each  do  |split| %>
        <%= split.scu %>
      <% end %>
      <% else %>
        <% if trade_run.scu %>
        <%#= form.text_field :scu, value: trade_run.scu, data: { controller: "traderun", action: "input->traderun#update", url: url_for(controller: :trade_runs, id: trade_run.id) } %>
        <%#= form.text_field :scu, value: trade_run.scu, data: { controller: "traderun", action: "input->traderun#update", traderun_url: url_for(controller: :trade_runs, action: :update, id: trade_run.id) } %>
        <%= text_field_tag "scu", trade_run.scu, data: { controller: "traderun", action: "input->traderun#update", traderun_url: url_for(controller: :trade_runs, action: :update, id: trade_run.id) } %>
        <% end %>
    <% end %>
      </td>
    
      <td>
        <% if trade_run.buy_price %>      
          <% capital = ( trade_run.buy_price.to_i) * trade_run.scu %>
          <%= capital %>
        <% end %>
      </td>
    
      <td>
        <% if trade_run.sell_price %>      
          <% income = (trade_run.sell_price.to_i)  * trade_run.scu %>
          <%= income %>
        <% end %>
      </td>

      <td>
      <% if trade_run.profit %>      
        
        <%= trade_run.profit %>
      <% end %>
      </td>
      <td>

      <% if trade_run.profit && trade_run.scu %>      
        
        <%= trade_run.profit / trade_run.scu %>
      
      <% end %>
      </td>

      <td>
      <% if trade_run.sell_price %>      
        <% delta = trade_run.delta %>
        <%= delta %>
      <% end %>
    </td>
    
    <td>

    </td>

<td>
<%= link_to 'DEL', trade_run_path(trade_run), method: :delete, data: { confirm: 'Are you sure?', action: "ajax:success->traderun#removeRow" } %>

</td>    
    
    </tr>
    <% end %>