<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= location.type %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= location.parent %>
  </p>

  <p>
    <strong>Trade port:</strong>
    <%= location.trade_port %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= location.image %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= location.classification %>
  </p>

  <p>
    <strong>System:</strong>
    <%= location.system %>
  </p>

  <p>
    <strong>Habitable:</strong>
    <%= location.habitable %>
  </p>

  <p>
    <strong>Affiliation:</strong>
    <%= location.affiliation %>
  </p>

  <p>
    <%= link_to "Show this location", location %>
  </p>
</div>
