<!DOCTYPE html>
<html>
  <head>
    <title>AltamaCitadel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('citadel_logo.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NE86H4JCCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NE86H4JCCD');
</script>
  </head>

  <body id="<%= controller.controller_name %>">
  
    <% if current_user && Task.any_memos(current_user.id) %> 
      <%= render '/layouts/error' %>
    <% end %>

    <%= yield %>
<%= render '/layouts/task_manager' %>
  </body>
  
</html>
