
<div id="taskbar" data-controller="hello">
<button id="citadel_button" data-action="click->hello#greet" href="#"><%= image_tag("citadel_logo.png") %> Citadel</button>
    <div data-hello-target="mainmenu" id="main_menu">
        <div class="menu-branding">
            <span class="branding">
                ALTAMA Citadel
            </span>
        </div>
        <div class="menu-items">    

        <div class="menu-item">
        <div class="icon"><%= image_tag("programs_icon.png") %></div>
        <span><a class="pull-out" href="">Programs</a></span>
        </div>

        <div class="menu-item">
        <div class="icon"><%= image_tag("programs_icon.png") %></div>
        <span><a class="pull-out" href="">Help</a></span>
        </div>

        <div class="menu-item">
        <div class="icon"><%= image_tag("programs_icon.png") %></div>
        <span><a class="pull-out" href="">Search</a></span>
        </div>



        <div class="menu-item pull-out">
        <div class="icon"><%= image_tag("settings_icon.png") %></div>
        <span><a class="" href="">Admin settings</a></span>
        
            <div class="child-menu">
                <div class="child-menu-item"><div class="icon"><%= image_tag("programs_icon.png") %></div><span><%= link_to "Spaceship manager", ships_path, class:'child-link' %></span></div>
                <div class="child-menu-item"><div class="icon"><%= image_tag("programs_icon.png") %></div><span><%= link_to "User manager", users_path, class:'child-link' %></span></div>
            </div>
        </div>
        <hr>
            <div class="menu-item"><div class="icon"></div><span><%= link_to "Shut Down..", destroy_user_session_path, 'data-turbo-method': :delete %></span></div>
        </div>
    </div>

    <% if defined?(app1) %>
    <div class="app-bar">
    <% if Task.asset_exists?("#{app1.downcase.parameterize.underscore}_icon.png") %>
    <%= image_tag("#{app1.downcase.parameterize.underscore}_icon.png")  %> <%= app1 %>
    <% else %>
    <div class="icon">
    <%= image_tag( "all_icons.png", class: "invalid")  %> <%= app1 %>
    </div>
    <% end %>
    </div>
    <% end %>

    <div id="clock">
    <%= Time.current.utc.strftime('%H:%M') %>
    </div>
</div>
