
<div id="window_frame">
<div 
data-action="dragstart->desktop#dragstart dragover->desktop#dragover dragenter->desktop#dragenter drop->desktop#drop dragend->desktop#dragend"
class="highlight">

    <% if defined?(app1) %>
    <div class="app-bar">
    <% if Task.asset_exists?("#{app1.downcase.parameterize.underscore}_icon.png") %>
    <div class="icon">
    <%= image_tag("#{app1.downcase.parameterize.underscore}_icon.png")  %> 
    </div>
    <% else %>
    <div class="icon">
    <%= image_tag( "all_icons.png", class: "invalid #{app1.downcase.parameterize.underscore}")  %> 
    </div>
    <% end %>
    <%= app1 %>
     </div>
    <% end %>
    data-action="mousedown->desktop#task_drag"
<div class="control-buttons">

<% if defined?(windowed) %>
<%= form_with(model: task) do |form| %>
    <%= button_to "", task, class:'close-btn windowed', method: :delete  %>
<% end %>
<% else %>
<%=link_to "", root_url, class: 'close-btn' %>
<% end%>
</div>
</div>
</div>
