
<div draggable="true"  id="window_frame">
<div class="highlight">

    <% if defined?(app1) %>
    
    <div class="app-bar" data-appname="<%= app1 %>" data-action="dragstart->desktop#dragstart
    dragover->desktop#dragover
    click->desktop#click
     dragenter->desktop#dragenter
      drop->desktop#drop
       dragend->desktop#dragend" >
    <% if Task.asset_exists?("#{app1.downcase.parameterize.underscore}_icon.png") %>
    <div class="icon">
    <%= image_tag("#{app1.downcase.parameterize.underscore}_icon.png")  %> 
    </div>
    <% else %>
    <div class="icon">
    <%= image_tag( "all_icons.png", class: "invalid #{app1.downcase.parameterize.underscore}")  %> 
    </div>
    <% end %>
    <%= app1 %>
     </div>
    <% end %>
<div class="control-buttons">

    <% if defined?(task) && task.view == "window" %>
        <%= form_with(model: task) do |form| %>
            <%= button_to "", task, class:'close-btn windowed', method: :delete  %>
        <% end %>
        <% elsif defined?(task) && task.view == "full" %>
        <%= form_with(model: task) do |form| %>
            <%= button_to "", task, class:'close-btn full', method: :delete  %>
        <% end %>
        <% elsif app1 == "Memo" %>
        <%=link_to "", clear_memos_path, class: 'close-btn' %>
        
    <% else %>
        <%=link_to "", root_url, class: 'close-btn' %>
    <% end%>
</div>
</div>
</div>
