<div class="live-desktop">

<%= link_to start_my_hangar_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("my_hangar_icon.png") %>
    My Hangar
<% end %>

<% if current_user.user_type <= 10 %>
    <%= link_to website_manager_path, class: 'desktop-icon', method: :post do %>        
        <%= image_tag("website_manager_icon.png") %>
        Website Manager
    <% end %>
<% end %>

<% if current_user.user_type <= 10 %>
    <%= link_to cargo_manifest_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("cargo_manifest_icon.png") %>
        Cargo Manifest
    <% end %>
<% end %>

<% if current_user.user_type <= 42 %>
    <%= link_to start_rfa_manager_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("roadside_assistance_icon.png") %>
        RFA Manager
    <% end %>
<% end %>

<%= link_to roadside_assistance_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("roadside_assistance_icon.png") %>
    RFAS Customer Portal
<% end %>

<% if current_user.user_type <= 30 %>
    <%= link_to conquest_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("conquest_icon.png") %>
        ConQuest
    <% end %>
<% end %>

<%= link_to "https://anime-kingdom.herokuapp.com/", class: 'desktop-icon', method: :post do %>
    <%= image_tag("anime_kingdom_icon.png") %>
    Anime Kingdom
<% end %>

<% if current_user.user_type <= 42 %>
    <%= link_to start_guildstone_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("guildstone_icon.png") %>
        Guildstone
    <% end %>
<% end %>

<% if current_user.user_type <= 42 %>
    <%= link_to start_shell_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("altama_shell_icon.png") %>
        Altama Shell
    <% end %>
<% end %>


<% if current_user.user_type <= 42 %>
    <%= link_to start_codex_path, class: 'desktop-icon', method: :post do %>
        <%= image_tag("codex_icon.png") %>
        Codex 95
    <% end %>
<% end %>

</div>

<% if current_user && @fullscreen_tasks.present? %>

    <% @fullscreen_tasks.each do | task |  %>        
    <%= render "/desktop/apps/#{task.name.downcase.parameterize.underscore}", root_users: @root_users, task: task %>
    <% end %>
<% end %>

<% if current_user && @windowed_tasks.present? %>
    <% @windowed_tasks.each do | task |  %>
    <%= render "/desktop/apps/#{task.name.downcase.parameterize.underscore}", root_users: @root_users, task: task %>
    <% end %>
<% end %>

<% unless @all_tasks.last.present? %>
    <%= render '/desktop/taskbar' %>
<% else %>
    <%= render '/desktop/taskbar', app1: @all_tasks.last.name %>
<% end %>
