<div class="live-desktop">

<%= link_to my_hangar_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("my_hangar_icon.png") %>
    My Hangar
<% end %>

<%= link_to website_manager_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("website_manager_icon.png") %>
    Website Manager
<% end %>

<%= link_to cargo_manifest_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("cargo_manifest_icon.png") %>
    Cargo Manifest
<% end %>

<%= link_to rfas_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("roadside_assistance_icon.png") %>
    Roadside Assistance
<% end %>

<%= link_to conquest_path, class: 'desktop-icon', method: :post do %>
    <%= image_tag("conquest_icon.png") %>
    ConQuest
<% end %>

<%= link_to "https://anime-kingdom.herokuapp.com/", class: 'desktop-icon', method: :post do %>
    <%= image_tag("anime_kingdom_icon.png") %>
    Anime Kingdom
<% end %>

<%= link_to guildstone_path(0), class: 'desktop-icon', method: :post do %>
    <%= image_tag("guildstone_icon.png") %>
    Guildstone
<% end %>
    
</div>
<% if current_user && current_user.app_present? %>
    <% @all_tasks.each do | task |  %>
    <%= render "/desktop/apps/#{task.name.downcase.parameterize.underscore}", root_users: @root_users, task: task, windowed: true %>
    <% end %>
<% end %>

<%= render '/desktop/taskbar'%>